[2012-07-20 06:06] cgiffard opened #4 "Correct Cache API Pattern"
At the moment, the callback is passed a single parameter, which could be `null` (if an item doesn't exist) or an actual value.

To fit better with node's internal patterns, the first parameter should be an error (or `null`), and the second parameter should be the result.

[2012-07-20 06:08] cgiffard opened #5 "Fix 0.8 .domain compatibility issues..."
So Node's EventEmitter has now stolen the `.domain` keyword I was using on the crawler. I've got to either shift all the crawler options into an internal data store and add get/setters to the Crawler object to enable their access, or rename the keyword.

Choices.

[2012-09-16 22:58] thomastraum opened #8 "crawl never starts"
Hey,

I am having this simple code for a test but in never fires the fetchcomplete event:

[code]

using node v0.6.21-pre or v0.8.9

[2012-09-19 02:25] #8 closed, assigned to nobody

[2012-09-19 02:32] #5 closed, assigned to nobody

[2012-12-28 10:02] cgiffard opened #11 "Simplify basic crawls."
It'd be nice to have a one-three line solution for crawling a website. Think about ways to make simplecrawler even simpler to instantiate and run.

[2013-01-05 21:35] jamalsoueidan opened #12 "not working?"
var Crawler = require("simplecrawler").Crawler;

var myCrawler = new Crawler("http://www.google.com","/",80,300);

myCrawler.on("fetchcomplete",function(queueItem, responseBuffer, response) {
    console.log("I just received %s (%d bytes)",queueItem.url,responseBuffer.length);
    console.log("It was a resource of type %s",response.headers['content-type']);
});

myCrawler.start();

I'm missing som

[2013-01-05 22:33] #12 closed, assigned to nobody

[2013-01-10 08:40] xinbenlv opened #14 "Add URL regex filter"
Add a string for a URL regex filter. Craw only URL that meets the regex

[2013-01-10 12:27] #14 closed, assigned to nobody

[2013-01-10 12:29] cgiffard opened #15 "Document Fetch Conditions"
As I discovered thanks to issue #14, I'd completely forgotten to document fetch conditions. I'd better rectify this ASAP, and add some example code.

[2013-01-21 14:54] thgie opened #17 "Authentication for Google Sites"
My plan is to crawl our school intranet for projects of students that have to do with programming. The intranet is hosted on google apps and needs authentication with a google account. I have that account. But how can I enter the intranet with simplecrawler?

[2013-01-22 10:22] #17 closed, assigned to nobody

[2013-01-26 08:27] peterbarretto opened #19 "How to avoid crawling images, pdf and other files, only fetch html pages?"
[code]

I am using the above code and the crawler gets all types of data from the site ie .png, .eot, etc files when i require to crawl only the web pages of the site
How can i whitelist or blacklist certain content-types?

[2013-02-07 01:41] #19 closed, assigned to nobody

[2013-02-08 04:48] #15 closed, assigned to nobody

[2013-02-10 19:45] bperry opened #21 "URIjs errors not handled"
I've noticed that in Crawler.prorotype.processURL, errors thrown by URIjs are not handled and consequently crash the app.

I've solved this by wrapping everything in a try catch and returning false on error so that the url is skipped.  This method works for me but you may want to add proper URIjs error handling.

[2013-02-10 22:47] #21 closed, assigned to nobody

[2013-02-10 23:52] #11 closed, assigned to nobody

[2013-02-15 19:51] tad-lispy opened #22 "Manual discovery within async calls"
Hi!

I like your crawler, but I'm having trouble solving following problem.

I want to crawl only resources linked with anchors (a elements). So I wrote following sample code (in coffeescript):

[code]

What I get back is:

[code]

As you can see crawler assumes that it's work is complete before discovery is finished. I can understand why (`crawler.queue.add` is called after `complete` event was f

[2013-02-19 22:44] danscan opened #23 "queueItem.domain doesn't exist. It's real name is queueItem.host"
The documentation says that queueItem.domain exists, but it doesn't.  It seems it was renamed to queueItem.host and not updated in the documentation

[2013-02-20 04:17] #23 closed, assigned to nobody

[2013-03-19 12:47] gulogulo opened #24 "Redirect causes crawling to complete prematurely"
Trying to crawl NyTimes web site I found a strange behaviour. The pages seem to be redirected on themselves causing the queue not to be updated and the crawlers stops quite immediately without any fetches or discoveries. Try this url as initial point:

http://www.nytimes.com/2013/03/19/business/use-of-generics-produces-an-unusual-drop-in-drug-spending.html

No block is in place, but crawling the w

[2013-03-25 03:23] yayolius opened #25 "Problem with "addFetchCondition""
I Have problems with the addFetchCondition method, when i add this code:

[code]

and run the script i get this error:

[code]

It is weird becasue i see the method in the crawler.js file.

[2013-03-25 04:06] #25 closed, assigned to nobody

[2013-04-05 22:25] tsouza opened #26 "[Feature Request] allow configuring URIjs with iso-8859-1"
Hello,

[code]

Regards,
Thiago Souza

[2013-04-09 06:46] ghost opened #27 "Custom headers"
Is there any way to add custom headers without overriding Crawler.prototype.fetchQueueItem method ?

thanks

[2013-04-09 18:44] gregmolnar opened #28 "URI path issue"
I noticed the simplecrawler URI path includes the query string too. Is there any particular reason for this?
It causes an issue for me when I want to exclude certain files from the queue using `addFetchCondition`. The problem is if I use regex like this: `/\.jpg$/i` it won't match if the target uses a get parameter for cache purposes, resizing etc.
If simplecrawler needs to return the path like th

[2013-04-09 21:18] cgiffard opened #29 "Add Cookie Jar Support"
Required to fix #22.

[2013-04-09 21:20] cgiffard opened #30 "Fix mangled 'develop'/'development' branches"
No idea how that happened.

[2013-04-10 09:34] #28 closed, assigned to nobody

[2013-04-10 10:17] #30 closed, assigned to nobody

[2013-04-20 06:48] #29 closed, assigned to nobody

[2013-04-20 06:52] #27 closed, assigned to nobody

[2013-04-20 06:56] #26 closed, assigned to nobody

[2013-04-20 07:06] #24 closed, assigned to nobody

[2013-05-01 21:08] rob-gordon opened #33 "Manually adding to the queue, manual fetching"
I'm having trouble understanding how to manually add to the queue and manually tell the queue to fetch. I've looked at queue.js and created my own instance, but I can't determine which part of the simplecrawler is calling the queue continuously.

Is there a global setting which will turn off automated adding and fetching, allowing me to build my own loops to do these things?

Thank you!

[2013-05-01 23:12] #33 closed, assigned to nobody

[2013-05-06 11:01] Jellyfrog opened #34 "Events not cleared in node v0.10"
Hi

Im having a problem using this module with node 0.10 (it works fine in 0.8)
The problem is that the events are fired twice when im reusing the variable...

[code]

Testcase:

[code]

0.8.23

[code]

0.10.5

[code]

[2013-05-07 13:36] #34 closed, assigned to nobody

[2013-05-07 21:53] cgiffard opened #36 "Work out why test suite is failing in Travis on 0.10 but not in 0.10 locally"
'nuff said

[2013-05-08 13:19] #36 closed, assigned to nobody

[2013-05-10 06:18] #22 closed, assigned to nobody

[2013-05-23 11:22] gkorland opened #38 "fetchcomplete event is missing"
fetchstart is triggered but fetchcomplete  is never triggered.
I set:
crawler.timeout = 5000

and it still not helping.

[2013-05-25 17:20] petschekr opened #39 "Queue Error on every page"
simplecrawler keeps throwing queue errors for every page the crawler visits. The error object is empty and the URL object only contains (for example)
`{"protocol":"http","host":"www.reddit.com","port":80,"path":"/r/news/","uriPath":"/r/news/"}`
It does this for every URL it finds and adds nothing to the queue

I've tried this on several websites including http://www.google.com and http://www.reddi

[2013-06-03 20:13] #39 closed, assigned to nobody

[2013-06-04 01:48] cgiffard opened #41 "Missing Timer for managing slow requests"
There's a timeout value, but for some odd reason, the actual timer that handles that value was never added (whoops!!)

Should be easy - this issue is just to track the progress of the fix.

[2013-06-04 21:05] #41 closed, assigned to nobody

[2013-06-14 02:05] #38 closed, assigned to nobody

[2013-06-22 01:56] cggaurav opened #44 "(node) warning: possible EventEmitter memory leak detected. X listeners added. Use emitter.setMaxListeners() to increase limit."
Why can't we have an option on crawler to set maxListerners?

[2013-06-29 11:22] luxueyan2008 opened #45 "how convert the response body to utf8 please"
is it supported the feature?
as the node-crawler https://github.com/sylvinus/node-crawler
forceUTF8: Boolean, if true will try to detect the page charset and convert it to UTF8 if necessary. Never worry about encoding anymore! (Default false),

[2013-07-30 22:32] emlama opened #46 "Multiple addFetchConditions aren't behaving nicely"
Hey there, I want to make sure I understand that I'm using this function correctly. It seems that when I create two fetch conditions the first one isn't being used but the last one is. So for instance, this code would crawl my site and return html files and JS files but not CSS files. I was expecting it to filter both CSS and JS, any idea what might be at the root of this?

Thanks!

[code]

[2013-07-31 04:45] #46 closed, assigned to nobody

[2013-08-07 07:54] bjornwang opened #47 "SimpleCrawler finds no links"
I have an issue crawling http://kulturradet.no.

Every now and then, the crawler doesn't move past the front. Hooking into the discoverycomplete event, I can see that no links are found when this happens. I was baffled by this behavior, as oftentimes it finds 80 links. The HTML-code itself has not changed.

I spread some console.log(..) statemens in the crawler.js code, and found that the download

[2013-08-07 08:00] bjornwang opened #48 "SimpleCrawler "complete" event not fired"
Performing a crawl, SimpleCrawlers "complete" event is not fired.

I created an event handler for "fetchcomplete" that outputs crawler.queue.complete, which matches crawler.queue.length. All elements are complete, but the "complete" event does not fire.

Debugging is kinda hard, as the website I'm crawling (kulturradet.no) has thousands of links. I've tried making a fetchcondition that returns fal

[2013-08-21 10:16] fabien opened #49 "Urls with spaces are not crawled correctly"
Any url that contains spaces (after url decoding) is not fully parsed: only the first word/part is extracted.

This is because the matching regexes exclude \s right now. I think it's OK to accept \s by removing them from the exclude pattern (quote check is enough).

[2013-08-30 21:11] #44 closed, assigned to nobody

[2013-09-10 07:07] #49 closed, assigned to nobody

[2013-09-20 01:57] #48 closed, assigned to nobody

[2013-09-20 01:59] cgiffard opened #52 "Make Async Events Less Confusing"
Maybe they shouldn't be events?

See #48 for details of the confusingness.

[2013-09-23 09:13] #52 closed, assigned to nobody

[2013-09-25 21:18] bmoeskau opened #54 "Some questions about link discovery"
I'm actually having a couple of issues, but first wanted to open a discussion before making changes and pull requesting anything.  There are two cases that are currently not working as I want:
- Hash links internal to a page should not be picked up as crawlable resources
- When I include Google Analytics, I end up with the faulty "links" of "https://ssl" and "http://www" which create false 404's

[2013-09-26 04:43] #54 closed, assigned to nobody

[2013-09-26 05:40] #47 closed, assigned to nobody

[2013-09-30 14:12] mancioshell opened #56 "proxy authentication"
Currently it's impossible to use simplecrawler under authenticated proxy!
Is it this feature in roadmap?

Thank you,
Alessandro.

[2013-10-01 03:42] thomascoding opened #57 "No base href support"
I try to download site with base href and found that you dont have base href support.

Link to documentation
http://www.w3schools.com/tags/tag_base.asp

If base href like
base href="http://example.com/"

i can set it manually in lib/crawler.js

		return urlMatch
			.map(cleanURL)
			.reduce(function(list,URL) {
				//console.log(queueItem);
				// Ensure URL is whole and complete
				try {
					UR

[2013-10-03 02:02] #56 closed, assigned to nobody

[2013-10-04 05:41] ocean opened #59 "Crawler not visiting other whitelisted domains?"
Edit: Hi Chris, didn't realise you were in Australia (possibly at another Govt department?) :-)

Thanks for this tool, it's doing great work for me, I'm using it to look for links to documents which will need to be moved/regenerated in the process of a big website content transition (from a crappy old commercial CMS to Drupal, yay!).

I have a crawler setup similar to below:

[code]

However, the

[2013-10-11 01:51] Abromeit opened #60 "HTTP Statuscode 410 should emit "fetch404" event."
Didn't test it, but i'm pretty sure that this inconvenience exists ;o)

HTTP 410 is basically the same as HTTP 404. The former just says that the requested URL will definitely never come back again. So both should be handled in the same way. (As far as i know Google does it too. The only difference is that deindexation of 410 URLs is faster.)

*Notice: Of course this issue is not very important, i

[2013-10-15 06:54] #59 closed, assigned to nobody

[2013-12-15 19:38] yayolius opened #64 "Question: How can i trigger complete after finding X results"
It is a weird question but i need to force the complete method after finding 10 files with contentType text/html, it is possible?

Also another question:
is  it possible to abort the connection on the event fetchheaders, so i can stop downloading files if i know they are there.

[2013-12-16 23:46] #64 closed, assigned to nobody

[2013-12-18 05:37] jmdfm opened #65 "Ability to limit depth of crawl"
It would be awesome if you could specify how deep the crawler should follow links (e.g. only go two levels deep from the initial link). Looking at the code I'm not sure how this would be implemented, or even if the queue based approach makes it impossible.

Thoughts?

[2013-12-29 05:36] Broham opened #66 "Possible to follow external links?"
I didn't see any way to enable this in the documentation.

[2014-01-14 08:12] #66 closed, assigned to nobody

[2014-01-17 06:07] mnording opened #67 "Calls through self signed certificate returns 599"
Making calls for a site with self signed certificate returns stateData.code   = 599.
Has this got to do with some underlying networking module or am i doing it wrong?

Obsolete issue
You are able to instruct node to pass theese by the following code:

process.env['NODE_TLS_REJECT_UNAUTHORIZED'] = '0';

[2014-01-18 10:59] #67 closed, assigned to nobody

[2014-03-10 07:04] sgarbesi opened #68 "PhantomJS support/plugin?"
A lot of sites post render with JavaScript; therefore crawling without post-rendering the JavaScript deems this library useless for those sites.

I wrote a quick little PhantomJS middle man proxy that served the library the proxy URL to crawl the post-rendered JS pages.

Would be nice to have this support built-in! Literally 10-20 lines of PhantomJS and makes the difference.

Other than that; grea

[2014-04-03 21:45] Yaakov-Belch opened #70 "crawler.queue.defrost(file) still starts crawl from scratch"
I tried according to the [documentation](https://github.com/cgiffard/node-simplecrawler#saving-and-reloading-the-queue-freezedefrost) to store the queue to a file and to resume the crawl later, in a new process.

I found that this does not work: The "resumed" crawl still starts from scratch, ignoring which pages have already been received by the previous run and not using any links that have been

[2014-04-15 19:49] khuongduybui opened #71 "Please add a way to specify Node's HTTP options"
I need the crawler to ignore SSL certificate errors but can't seem to find a way to pass that option.

[2014-04-16 16:08] #71 closed, assigned to nobody

[2014-04-16 16:33] khuongduybui opened #72 "Incorrect redirect location in headers on non-standard ports"
Hi Chris it's me again. :dancers:
After solving the problem of rejected self-signed SSL certificates, I encounter another problem in my attempt to crawl an HTTPS server on port 8080.

When I call node's HTTPS.request() directly on https://10.36.15.39:8080/ I get the following headers:

[code]

Please note that the redirect location has the :8080 port.

However, when I call simplecrawler and captur

[2014-04-21 05:07] #72 closed, assigned to nobody

[2014-04-24 11:36] #70 closed, assigned to nobody

[2014-05-13 17:45] leeroybrun opened #75 "Default cookie's domain"
If the domain is not set by the server, the cookie's domain will be defined to * (default value). But when it resend the cookies, it will not resend this one because it does not match the domain.

This is just a small error, I think we just need to be able to get the domain from where the cookie was sent. We need to pass this domain from Crawler.handleResponse to CookieJar.addFromHeaders and then

[2014-05-22 16:30] janpetras opened #76 "How to sideload the crawler?"
At the moment my crawler is fired when I do node server.js due to the the var crawler = require('./server/config/crawler'); inside the server.js

The crawler.js code is, as per above, in /server/config/crawler

The problem is that when the server is started I have to wait for all the crawling to be done.

I want to be able to start node server.js normally in the cmd and in another cmd to start the

[2014-05-24 12:36] fine129 opened #79 "node 0.10.28 causes several issues"
I used node 0.8.26 and the crawler worked fine.
but several days ago i  upgraded node to 0.10.28,
several problems occurred.

1\ In handleResponse function , every if clause seems to need: response.on("data",function(){});
 to fire the "end" event of the response. Otherwise the process will freeze .
2\In handleResponse function, memory leak( process out of memory error) occurred   after crawling s

[2014-06-04 03:03] fairul82 opened #80 "The way to search the base url only"
Hi cgiffard,
Thanks for sharing this wonderful app. It helps me a lot. I just want to check if there is anyway I can search for URL for the html pages only ? For an example , I would like the following;

www.test.com
www.test.com/page1
www.test.com/page2

But , I want to exclude the search up to the resource level;
www.test.com/page1/*.jpg
www.test.com/page1/*.css
www.test.com/page1/*.js

[2014-06-10 11:59] aleksika opened #81 "Fetcherror is emitted with variable set of parameters"
Fetcherror event is emitted with variable set of parameters. On line
https://github.com/cgiffard/node-simplecrawler/blob/master/lib/crawler.js#L553 it is emitted as crawler.emit("fetcherror",queueItem);
and on line https://github.com/cgiffard/node-simplecrawler/blob/master/lib/crawler.js#L991 as crawler.emit("fetcherror",queueItem,response);
Listening to fetcherror event could then potentially lea

[2014-06-24 15:29] emlama opened #83 "Add mongo cache backend"
I'm considering tackling this for a project I'm working on because I'd like to have metadata about my cache in my application.

What are your thoughts on doing a hybrid backend that stores files on the filesystem and data in Mongo? Does it then make sense to separate the metadata storage from the document storage?

What about going "whole hog" and storing everything in Mongo? It looks like most da

[2014-08-01 14:35] lzrski opened #88 "Queue and QueueItem interfaces documentation"
It would be nice to have `queue` and `queue item` interfaces documented for alternative implementations, e.g. #83

[2014-08-14 22:41] #83 closed, assigned to nobody

[2014-09-03 20:10] mlakhia opened #89 "downloadUnsupported flag not functional"
It would be awesome to utilize the boolean option ```downloadUnsupported```. I've poked through the source and don't see the flag being used at all.

Currently I'm using ```addFetchCondition``` in it's place, but as the downloadUnsupported option is documented, shouldn't it be functional?

[2014-09-16 15:43] martindale opened #90 "Suppress Output"
There doesn't seem to be a way to suppress the output of the crawler; e.g., for silent running.

[2014-09-18 00:38] #90 closed, assigned to nobody

[2014-10-07 18:39] rclai opened #91 "Post requests?"
Is it possible to do post requests with this?

[2014-11-03 10:32] made-by-chris opened #93 "Possible for you to write an ignore/white list method?"
It would be nice to be able to whitelist a bunch of URLs which are expected to break for a number of reasons: dynamic-template URLS, hacky graceful fallbacks code etc.

Can i somehow do this with the current implementation?

[2014-11-07 00:51] #65 closed, assigned to nobody

[2014-11-07 00:56] #93 closed, assigned to nobody

[2014-11-10 08:02] #76 closed, assigned to nobody

[2014-11-10 16:53] dsquier opened #94 "Is there a max size for the saved queue file?"
First, great repo!

I'm crawling a site and making use of the queue freeze/defrost feature. I have it set to save after each resource is returned per:

[code]

[code]

However, when I reach a certain point the crawler stops (complete event never fires, either). I've tried running it a few times and each time it stops in basically the same place. A re-start using unfreeze from the last known good s

[2014-11-15 20:21] nousacademy opened #95 "Attribute with dynamic value?"
Is there a way I can watch a page and check for a dynamic value on an attribute of an element?? By checking for the regex as would be done in jquery for example.

[2014-11-16 00:43] #95 closed, assigned to nobody

[2014-11-17 12:49] #94 closed, assigned to nobody

[2014-11-18 11:00] ToastHelmi opened #96 "Cookies are not added to the jar"
Headers 1 Request
[code]

Headers 1 response
[code]

Headers 2. Request
[code]

[2014-12-01 22:50] AndriusA opened #99 "HTML pages below maxDepth fetched"
Issue #77 says that "If the HTML page depth is greater than max depth, we will not fetch it and not discover resources on it" and while the latter is true, the former is not.

Running with a simple crawler:

    var Crawler = require('simplecrawler');
    var crawler = new Crawler("en.wikipedia.org", "/wiki/Fuel_economy_in_automobiles");
    crawler.maxDepth = 1;
    crawler.maxConcurrency = 5;

[2015-01-08 10:58] rocco commented on #99
same here

[2015-01-17 14:46] ciscoheat opened #101 "Problem with query string appended to URLs"
I'm crawling a quite simple site, and find that after redirects containing a query string, the query string is appended to the redirect URL and on the subsequent page. A typical debug log can look like this:

[code]

The redirect should be going to `/vacations` without query, so the query string is taken from the first request. Another example with a non-redirect:

[code]

Here the query is append

[2015-01-18 12:26] cgiffard commented on #101
That's very unusual indeed. I don't seem to be able to reproduce it! Would you be able to provide a small test case? (Sorry, I don't normally ask for that much!)

[2015-01-19 00:16] ciscoheat commented on #101
Hi, I'll be offline for a week unfortunately, but if you have some time the whole project is available at https://github.com/ciscoheat/meadowlark

It's a little bit of work to set up since it's written in Haxe instead of js, but if you do you can test the above issue easily with `grunt tests`. If you don't have time I'll be back later with a test case!

[2015-01-19 23:59] pinacodelada commented on #79
If I am seeing rogue "fetchtimeout"s with any requests that are not a 200 or 304 http status code, am I in the right place?

[2015-01-20 00:27] cgiffard commented on #79
@pinacodelada Please create a new issue, if possible. I haven't been able to reproduce any of the issues in this bug without a test case, so I'm going to close it for now.

If you could supply a test case for your issue, it would be much appreciated!

[2015-01-20 00:27] #79 closed

[2015-01-25 19:53] arve0 commented on #99
Same here. Seems like version 0.3.10 is [published on npmjs](https://www.npmjs.com/package/simplecrawler), but the version in master is 0.3.11.

A simple console.log confirms the missing feature:
[code]

[2015-01-28 21:34] timbowhite opened #102 "Please publish 0.3.11 to npm repository"
Currently showing as 0.3.10 in npm, needs an `npm publish`

[2015-01-28 22:09] timbowhite commented on #99
@AndriusA is correct, resources one level above maxDepth are fetched, but are not "discovered", even on v0.3.11.

simplecrawler fetches every url one level above maxDepth to determine the MIME type of that url, so that things like css/js/img/whatever can be "discovered".

I forked a change that *never* fetches above maxDepth (see c83ab74fa42b3b3e35f4bd8ca82d33e64e580158).  This does have the conse

[2015-01-28 23:30] timbowhite opened #103 "Parent url's query parameters are added to every parsed url"
If a fetched page has query params, then every url detected and queued on the page has those query params added.

This is due to using an old URIjs version: https://github.com/medialize/URI.js/issues/113
Upgrading the URIjs version in package.json should fix this

[2015-01-30 11:21] alextazh opened #104 "Asynchronous Event Listener"
Hey cgiffard!
Thank you for this module.
Could you please help with this issue I ran into.

I am crawling all urls of the website.
Some URLS have <div id="jsid-post-container"></div>
Those divs have data-external-id attributes, containing the IDs that i need to fetch.

Those divs look like this: <div id="jsid-post-container" data-external-id="7QBgCfKfXqQ">

I am trying to use cheerio and your Asyn

[2015-01-30 11:21] alextazh opened #105 "Asynchronous Event Listener"
Hey cgiffard!
Thank you for this module.
Could you please help with this issue I ran into.

I am crawling all urls of the website.
Some URLS have these DIVS: div id="jsid-post-container"
Those divs have data-external-id attributes, containing the IDs that i need to fetch.

Those divs look like this: div id="jsid-post-container" data-external-id="7QBgCfKfXqQ"

I am trying to use cheerio and your As

[2015-01-30 13:00] #104 closed

[2015-02-03 08:08] chibani commented on #102
:+1:  , please

[2015-02-11 22:29] ajkochanowicz opened #106 "Does crawler.discoverResources exist?"
I see an option to turn off crawler.discoverResources to prevent simplecrawler from discovering resources on a page. However, not only does it not work in my implementation, I don't see any check for this value in the source code. It looks like SC just runs this function regardless of user settings. Am I wrong?

[2015-02-22 19:39] grommett opened #108 "Crawler pauses for over 1 minute before resuming"
After the crawler runs for a while it suddenly pauses and waits for over a minute to resume. In some cases I've seen it wait for almost 2 minutes. This occurs with the default ```crawler.maxConcurrency``` and up to ```crawler.maxConcurrency = 40```.

Code:
[code]
I've had a look at the source and I'm not sure why this is happening. Any ideas on how to prevent this?

[2015-02-24 12:15] talss89 commented on #106
We ran into this problem too. I've created a fork which fixes this, and also the null header bug that prevents SC from running on Node 0.12.0.

I've written some tests, but this is more of a quick fix to hit a deadline rather than a PR candidate. A PR has already been raised for the header bug #107

On my fork, set crawler.useDefaultDiscovery to a function to override the default regex discovery.

[2015-02-24 20:41] tedbjorling commented on #108
I am seeing this behaviour as well, and have concluded that it is related to the timeout variable. Changing this from the default 5 minutes to, say, 10 seconds, softens the effect of this intermittent delay bug. The site I am trying this on is responsive, so it is definitely not a server issue.

[2015-02-24 23:30] grommett commented on #108
@tedbjorling Thanks. Changing the timeout variable does seem to help.

[2015-02-25 12:26] cgiffard commented on #108
The default is very permissive. If the server being crawled fails to respond or hangs onto the connection for long periods of time without delivering anything—and this happens frequently enough, the entire allotment of concurrent requests may be exhausted and the crawler will halt, until such time as one or more of the requests occupying the concurrent request allotment expires.

Perhaps 5 minutes

[2015-02-27 20:08] tedbjorling commented on #108
The issue is not so much unresponsive connections - the scenario in which this was brought to my attention involved a service which responded just fine. I believe there is a bug somewhere in the code that is provisioning the number of open requests, possibly related to the setTimeout functionality of the the http/https request. From what I could see, this function seemed to trigger a timeout even

[2015-02-28 10:25] talss89 commented on #108
@tedbjorling - We're seeing the same behaviour with your snippet on Node 0.10.32.

We're also experiencing the issue with our implementation. As the problem seems to occur with certain sites, I'm wondering if it's to do with a bad HTTP response from the server. Possibly content-length...

Crawling http://asos.com/ also causes this behaviour.

[2015-02-28 18:25] gogson opened #109 "Only crawl one page"
Hi !

I'd like to crawl a single page from it's URI, without going any further.

I have the following website structure:
[code]

I want to be able to download all PDF files included in one page, not the entire website. Something like "download me all PDF files included in page 1 and 3".

My problem is that if I call the plugin with the www.myweb.com/page1 URI, it will fetch all PDFs, and then auto

[2015-03-03 03:55] #109 closed

[2015-03-03 05:43] cgiffard commented on #109
Hi! I notice you closed this before I got a chance to look at it — did you manage to resolve your query?

[2015-03-03 13:51] gogson commented on #109
Hi !
I didn't know if my question was clear and understandable.

I finally managed to make it work using `addFetchCondition`.
Resources not matching the right path aren't added in queue.

You can check the code, it's a free [tool](https://github.com/gogson/node-vgmusic-downloader) for downloading all MIDI files from VGMusic.com.

[2015-03-04 14:22] unr3al011 opened #110 "requestLatency, requestTime & downloatTime"
Hello,
can you please say a few words about requestLatency? What exactly does that mean?

I am aware that requestTime is the time in ms that the whole request took.

But what does requestLatency and downloatTime mean?

[2015-03-09 08:19] cgiffard commented on #110
requestLatency is the time taken until the headers are returned (in practice, this is essentially the time to first byte.) downloadTime is the time taken just to download the data in the response body.

[2015-03-09 08:19] #110 closed

[2015-03-18 12:22] dutchakdev opened #113 "How i can crawl only 1 page without resources?"

[2015-03-19 14:47] davidsinclair opened #114 "Implementing a link checker"
Hi,

First off I have to say I really like node-simplecrawler - good work!

I want to implement a link checker for the site I am working on and using it has gotten me 95% of the way there but I am stuck getting the last little bit working. What I want to do is check all links on the site for 404's and redirects.  We feed the results into our custom content management system so that content authors

[2015-03-19 20:54] cgiffard commented on #114
Hi! This is a good use case — thanks for filing an issue. I'm pretty busy for a couple of days, so I'll have a think about this and get back to you on the weekend. :)

[2015-03-20 16:55] fredlab7 opened #115 "Can't Stop Crawler"
Hi

Seems like the last version of this crawler doesn't stop after completing through the queue. Even calling the method "stop" doesn't seem to do anything. Any sugesstions ?

Here is some code I'm using :

[code]

Thanks for helping

[2015-03-20 17:57] mattfordham opened #116 "Error: "name" and "value" are required for setHeader()"
I am getting this error with the simple test below...

`crawler = Crawler.crawl("http://example.com")`

Any ideas?

[2015-03-23 20:14] federicomaffei commented on #116
+1 @mattfordham - I believe this issue has already been fixed here https://github.com/cgiffard/node-simplecrawler/pull/107 but the fixed version is not available via npm. @cgiffard could you kindly publish the new version, if possible? Thanks a lot.

[2015-03-28 12:52] davidsinclair commented on #114
Hi,

Have you had a chance to think about how this might be handled?  I would be happy to implement the solution and submit a pull request if you could suggest the approach you think fits best.

Thanks,

David

[2015-04-01 21:11] Lcfvs opened #117 "Incomplete crawl"
Hi,
I tried your module on node.js v0.10.37 & v0.12.2 (on Window 8.1 & Ubuntu 12.04.4).

It works perfectly, with the referer fix, on Windows... but on Ubuntu (my real need), it crawls only 2 URLs...

[code]

[2015-04-03 21:15] sh4t opened #118 "Support Logging Paths and Query Params"
I am looking to give simple crawler a test in a lab environment and I am curious if it spiders and logs query parameters for a given uri path/resource.

For example if it finds a form on a page, will it log the page and the fields it found by their html ID entity?

If it finds a search page, with a search input field with and ID of search and say a drop down for date, log the page and the query fi

[2015-04-09 23:55] aesopwolf commented on #116
+1 on this

[2015-04-10 17:05] mpgarate commented on #116
+1 I am experiencing this as well.

[2015-04-14 03:21] iDVB commented on #22
Is using the done() in the eventHander still used? Does not seem to work for me?

[2015-04-17 03:42] krisanalfa commented on #116
+1 Me too

[2015-04-17 07:39] federicomaffei commented on #116
@all here, found a workaround to this issue. Adding an empty `Referer` header to `crawler.customHeaders` will prevent this Error to be thrown.

[2015-04-17 08:26] yosiweinreb opened #121 "Why does crawling www.cnn.com doesn't work?"
I am debating between this module and its rivals, i definitely liked this module interface and functionality the most, but while testing few sites i saw that crawling cnn didn't work. (simply returns empty queue)

Is there any reason for that?

Thanks

[2015-04-17 08:57] yosiweinreb commented on #121
alright so i found the issue,
for those who wonder..
www.cnn.com does a 302 redirect to edition.cnn.com, and the crawler does not fetch 302.

[2015-04-20 09:30] cgiffard commented on #121
Yep, that's normal behaviour—sorry it caused you some trouble. Perhaps I should make it clearer how this works in the documentation. :)

[2015-04-20 09:30] #121 closed

[2015-04-20 09:37] cgiffard commented on #118
No, but that's because the default discovery function is quite rudimentary and doesn't parse HTML — it does a naive best-effort scan of the page for things that look like URLs, and queues them up.

It is possible to do this, however: you could easily use node-simplecrawler with cheerio and provide your own URL discovery function. [You can do so as documented here.](https://github.com/cgiffard/node

[2015-04-20 09:37] #118 closed

[2015-04-20 09:38] cgiffard commented on #116
Sorry, this is me being a really lame maintainer and not publishing the fixed version to npm—I'll get that sorted now. :)

[2015-04-20 10:46] cgiffard commented on #116
This should be fixed now! :)

[2015-04-20 10:46] #116 closed

[2015-04-20 11:01] cgiffard commented on #113
You could, technically...

[code]

However, I'm not sure why you would. If you only want to make one request, just use request (or http.get) :)

[2015-04-20 11:01] #113 closed

[2015-04-20 12:56] cgiffard commented on #117
Hi! What do you see if you do this:

[code]

I certainly see a lot of requests being made...

[2015-04-20 12:57] cgiffard commented on #115
Hi — the crawler should already be stopped when `complete` is fired. I pushed a logic update just then — what happens on the very latest version?

[2015-04-20 13:03] cgiffard commented on #108
Hi All — please check the latest version. I believe this issue may have been corrected.

[2015-04-20 13:18] cgiffard commented on #22
@iDVB No, it's not — sorry. I decided it was a bad idea to base behaviour on the arity of variadic listeners.

Instead, you call `this.wait()` inside the listener— [as documented here.](https://github.com/cgiffard/node-simplecrawler#waiting-for-asynchronous-event-listeners)

[2015-04-20 13:20] cgiffard commented on #114
Hey — if you're still interested, the feature is being bashed out in PR #74 (https://github.com/cgiffard/node-simplecrawler/pull/74) — but I've asked for a test to be added. I'll pick it up myself if required — seems a lot of people want this feature. :)

[2015-04-20 16:39] federicomaffei commented on #116
@cgiffard yes! tested the updated module in production and working just fine :)

[2015-04-20 18:36] BrandonCouts commented on #103
I had this issue as well. I ended up doing a dirty hack, before I came and saw this:
uriURL = URI( URL );
uriURL = uriURL.absoluteTo(queueItem.url);
uriURL = uriURL.normalize();
if( origURL._parts.query === null ) uriURL._parts.query = null;
uriURL.build();
URL = uriURL.toString();

[2015-04-20 21:33] cgiffard commented on #103
I updated the URI.js version last night. Are you still having the issue?

[2015-04-20 21:34] cgiffard commented on #116
Fantastic. :)

[2015-04-20 21:41] cgiffard commented on #102
Hi all — (a few more) versions have been since published. Apologies for the delay! :)

[2015-04-20 21:41] #102 closed

[2015-04-20 21:42] cgiffard commented on #101
Hi! This was apparently related to an old version of URI.js — and has since been corrected. Please let me know if the issue is still occurring! :)

[2015-04-20 21:42] #101 closed

[2015-04-20 21:57] cgiffard commented on #80
Hi — apologies for the terrible delay in getting back to you. In order to do this, you'll best use a fetchCondition. This is documented under ['excluding certain resources from downloading'.](https://github.com/cgiffard/node-simplecrawler#excluding-certain-resources-from-downloading)

[2015-04-20 21:57] #80 closed

[2015-04-20 22:03] cgiffard commented on #45
I use iconv in BAS, and I've had nothing but pain, so I'd prefer not to include it here. Ultimately you can choose to bind against iconv in your own project.

[2015-04-20 22:03] #45 closed

[2015-04-20 22:07] shekarls opened #122 "Need help to getting response statuse code - simplecrawler"
Hi,
       I am new to node & JS, i was trying out this tool basically to find 404/500 on a page url.

below is my code snippet which doesnt print status code & also need atleast 1 level of depth to check for 404/500.

[code]

i don't see anything running in the console, is there a way it can print url and corresponding status code next to it.

Thanks
Chandra

[2015-04-20 22:14] #60 closed

[2015-04-20 22:23] cgiffard commented on #81
Split this into two events — `fetcherror` and `gziperror`. Will publish shortly with updated docs. :)

[2015-04-20 22:36] cgiffard commented on #81
Fixed in #5bb5c24 :)

[2015-04-20 22:36] #81 closed

[2015-04-20 23:19] cgiffard commented on #122
Hi — thanks for your query.

If you want to see the status code for any item, regardless of what it is, you'll need to use the `fetchheaders` event. Requests which return responses other than ~200 are not downloaded, so they will not fire `fetchcomplete`. Other events might be useful for you too — you might just want to listen on `fetch404` and `fetcherror` to see 400 and 500 series responses.

Th

[2015-04-20 23:19] #122 closed

[2015-04-21 00:53] shekarls commented on #122
When i see maxdepth = 0, still it crawls thru multiple links which are not on the current page.
is my implementation in sync with expected.

var Crawler = require("../lib");
Crawler.initialProtocol = "https";
Crawler.maxDepth = 0;

  var url = "https://www.rediff.com";

Crawler.crawl(url, function(queueItem) {

console.log("Completed fetching resource:",queueItem.url);
});

[2015-04-21 01:04] cgiffard commented on #89
It's functional now! The benefit of using this check is you can use the returned mime type from a request (ie. the file extension on a URL might be `.php`, but still return an image.) Now, `crawler.downloadUnsupported` will close the socket of an unsupported mime type if set to false.

[2015-04-21 01:04] #89 closed

[2015-04-21 01:07] #68 closed

[2015-04-21 07:50] chibani commented on #102
:bow: ;)

[2015-04-21 07:56] cgiffard commented on #99
Hi All — I've changed the behaviour of this feature in v0.5.0 as I agreed it was confusing. There's now an incredibly verbose switch called `crawler.fetchWhitelistedMimeTypesBelowMaxDepth` — set this to `true` to return to the old behaviour. Otherwise, the default behaviour should now match your expectations!

[2015-04-21 07:56] #99 closed

[2015-04-21 07:57] cgiffard commented on #103
I believe this is now fixed. :)

[2015-04-21 07:57] #103 closed

[2015-04-21 08:04] cgiffard commented on #106
Hi — the idea is that you'd replace this function with your own — the documentation erroneously refers to it as a flag. I've fixed the documentation accordingly.

[2015-04-21 08:04] #106 closed

[2015-04-21 13:04] BrandonCouts commented on #103
This is fixed. tyvm

[2015-04-21 18:44] shekarls opened #128 "simplecrawler goes beyond the set level of depth"
Hi,
  When i set maxdepth = 0, I am expecting that only links in the current page will be parsed for http response, but for my suprise ,  it crawls thru multiple pages apart from the current page.

Is my implementation in sync with whats expected.

var Crawler = require("../lib");
Crawler.initialProtocol = "https";
Crawler.maxDepth = 0;

var url = "https://www.rediff.com";

Crawler.crawl(url, func

[2015-04-21 22:33] cgiffard commented on #128
Hi @shekarls —

The 404 method you have is correct.

The way to retrieve the status code is to get the `queueItem.stateData.code`. I urge you to read the documentation, especially this part: https://github.com/cgiffard/node-simplecrawler#queue-items

In regards to the depth — please update your version of simplecrawler. The previous version would fetch one level deeper in order to retrieve resourc

[2015-04-21 22:33] #128 closed

[2015-04-21 22:35] cgiffard commented on #115
Hi — I'm closing this issue for now. If it's still happening, please just reopen it. :)

[2015-04-21 22:35] #115 closed

[2015-04-21 22:35] cgiffard commented on #117
Hi — I'm closing this issue for now. If the problem persists, please just reopen it. :)

[2015-04-21 22:35] #117 closed

[2015-04-21 22:39] cgiffard commented on #108
Hi All — I'm closing this issue for now. If it is still happening, please just reopen. :)

[2015-04-21 22:39] #108 closed

[2015-04-21 22:41] grommett commented on #108
Thanks @cgiffard! I'll give it a test in our next build and report back if we see the issue again.

[2015-04-21 23:20] cgiffard commented on #105
Hi Alex —

Apologies for the delay in responding to your query. That code is *syncronous*, so you don't need to worry about making the crawler wait for you.

Just do this:

[code]

[2015-04-21 23:20] #105 closed

[2015-04-28 00:05] BenChirlin opened #130 "Special characters in buffer become unknown"
Hello. I've been using simplecrawler to great success crawling our old archive site but I just noticed that the HTML I'm getting back out has all special characters (ä, à, etc.) converted into unknowns: � a.k.a `&#xFFFD;`.

My code for getting the HTML is straight forward.

[code]

I've tried both `ascii` and `utf8` with my `toString` but neither translates the characters correctly. How do I prese

[2015-05-01 18:04] BenChirlin opened #131 "Ignoring Max Depth"
Hi. I was wondering if there's a way to have a set max depth but then have that ignored for certain types of URLs. I saw the `fetchWhitelistedMimeTypesBelowMaxDepth` but the documentation seems to imply this is only applicable to assets and not actual URLs in the page.

Specifically I want to crawl my site from an origin request to a given depth but want to ignore that depth with pagination links

[2015-05-01 18:08] BenChirlin commented on #131
After a quick dive into the source it looks like the [`fetchWhitelistedMimeTypesBelowMaxDepth`](https://github.com/cgiffard/node-simplecrawler/blob/master/lib/crawler.js#L344) property only checks an internal list of type options. I'll make a pull request with that list being a variable which defaults to the current configuration.

[2015-05-06 06:14] HaaseIT opened #134 "NTLM Authentication"
Hi,
I wondered, if it would be possible to add NTLM Authentication (and possibly Digest), maybe using this node.js module:
https://github.com/SamDecrock/node-http-ntlm

I would greatly appreciate having the possibility to authenticate using NTLM.

My best regards
Marcus

[2015-05-13 23:59] fantapop opened #136 "events thrown for notfound and then for timeout"
I'm seeing some strange behaviour when using this. I'm crawling my site and for some links a 404 is thrown and then a timeout is thrown.  The timeouts queue items still have the 404 response code in them but the status is updated to timeout:

[code]

I'm looking at this somewhat recent commit: 40a71c1c5abffc2729316f4a90a0cb70b056612f

It looks like the timeout code used to check to see if there wa

[2015-05-16 09:04] tedbjorling opened #138 "stripWWWDomain not used"
The stripWWWDomain parameter is never used in the crawler.js file it seems, leading to the crawler visiting both domain.tld and www.domain.tld, regardless of this parameter

[2015-05-16 11:51] tedbjorling commented on #138
FWIW, I edited my local copy of v0.5.2 and added the following to the `Crawler.prototype.processURL` function in `crawler.js`:

[code]

[2015-05-18 13:45] fredrikekelund commented on #130
I had a similar problem, which turned out to be caused by the fact that the web page I was retrieving wasn't actually UTF-8 encoded. I don't know if this is the same problem you're having, but it's worth a shot if you're still interested.

I used `iconv-lite` to convert the response buffer content to UTF-8. Here's an example:
[code]

And this is how I used it in action:
[code]

[2015-05-18 17:33] BenChirlin commented on #130
Thanks! After a bit more searching I too came across `iconv-lite` and it's working well for encoded characters. Looks like it even fixes some that broken on the pages I'm crawling!

[2015-05-18 17:33] #130 closed

[2015-05-19 01:22] durz commented on #12
@cgiffard Could you explain why removing `http://` makes crawling work? I spent a long time trying to get the crawler to work in advanced mode (simple mode `Crawler.crawl("http://example.com")` worked fine) and nothing worked until I came across your comment to remove the `http://`.

Also, all your examples in the documentation included `http://`.

[2015-05-19 04:01] cgiffard commented on #12
@durz Good point — documentation issue. I'll make a point of cleaning it up. :)

[2015-05-22 21:43] BrandonCouts opened #140 "The web-programming curse of the Irish: M'name is O'Neal m' boy."
So like a O'Neal.jpeg terminates the url detection early. Upon inspection this is because the regex doesn't try to match the opening quote with an identical closing quote. I added another discover rule to help solve this problem, though this is at the cost of more processing. I'm not that clever with regex, but I reckon this can be turned into a single rule again.

[code]

[2015-05-25 16:23] magano227 opened #141 "Download resources with a specific header"
I've been using simplecrawler and it is awesome, thank you.
I've been trying to remove items from the queue and failing, what I want to do is when the headers of the queued files fetched, check the content-type and download only the ones I want. Is there any simple way of doing that? (I just want to download html, css and js files)
Thank you so much.

[2015-05-26 17:26] BrandonCouts commented on #141
You want to use:
[code]

[2015-05-26 17:32] BrandonCouts commented on #141
or inversely:
[code]

Sorry I should have thought about it a bit before. When I run the crawler I tend to run it to be inclusive, rather than exclusive.

[2015-05-26 20:54] magano227 commented on #141
That sounded like a good option for me at first but then I figured out that some files don't have any extension and in that case I won't be able to download them, that's why I was looking for a different solution.
Thank you anyway

[2015-05-28 14:53] magano227 opened #143 "Fetching resource problem"
Well, I was crawling a website and suddenly the crawler stopped.
This is the url that is giving me problems: http://wineexplorer.brancottestate.com/assets/images/share_fb.jpg
I've been trying to fix this but I can't because it fetches the headers but not the body and so I can't move on.
Any help?

EDIT: This one is also stopping the crawler: http://wineexplorer.brancottestate.com/assets/dist/index

[2015-05-29 22:46] cgiffard commented on #143
Hey @magnao227 — if this is still an issue please just reopen the ticket. (Apologies for the delay in my response.)

[2015-05-29 22:46] #143 closed

[2015-06-01 15:19] BrandonCouts commented on #140
Also is there a reason why:
/http(s)?\:\/\/[^?\s><\'\"]+/ig

Doesn't capture url's with queries in them?

[2015-06-02 12:38] fredrikekelund opened #144 "Crawler stuck indefinitely"
I'm having an issue where the crawler gets stuck for an indefinite amount of time (until, in my code, it is manually aborted after a timeout of 5 minutes). Since every individual request has a configured timeout of 1 minute, it shouldn't be possible for the crawler to reach the 5 minute mark without any activity.

I suspect this is related to #136 and occurs after the crawler has encountered a num

[2015-06-02 12:52] cgiffard commented on #144
Thanks for filing an issue! I have a bad feeling that this one is going to be hard to reproduce. :-/

Have you run into this when crawling any publicly accessible sites?

[2015-06-02 12:58] fredrikekelund commented on #144
Yeah I think you might be right about that... One of the sites that I've encountered the issue while crawling is http://www.egrillen.se/. Probably the most relevant crawler configuration is here (more or less directly copy-pasted):

[code]

I'll try and set up a barebones crawler run of that site and report back on the results!

[2015-06-02 13:50] fredrikekelund commented on #144
Okay, so I slimmed down my code to start to isolate the problem. The crawler ran for about 10 minutes, with ~400 hits (about 50 of those were timeouts and 29 were 404's). Here's the [entire log](http://pastebin.com/g6mA6SDh), and here's the code I used (running this with simplecrawler v0.5.2). @cgiffard, see if you can reproduce the problem with this:

[code]

[2015-06-03 08:46] teawithfruit opened #145 "Crawler stops after redirect"
I'm using simplecrawler for a project.
One of the websites to crawl have a redirect from the entry domain. Similar like when you type http://www.microsoft.com and you will get to http://www.microsoft.com/en-us/default.aspx.
In my opinion the redirected url should be added for crawling to the queue but the crawler stops, if the the entry domain is a redirect.

Here you can see my crawler code.
[cod

[2015-06-09 15:31] DavidFH opened #146 "Crawler failing to crawl"
Crawler is failing on this website. Only finds one page and none of the rest. Any idea as to why?

http://www.doosanbabcock.com/

[2015-06-09 21:37] cgiffard commented on #146
There's no links on the page to pick up — everything else appears in a script, which simplecrawler does not evaluate. My recommendation is to queue a sub resource you know works, or write your own discovery function that can parse the big script block. See `crawler.discoverResources` in the documentation. :)

[2015-06-09 21:37] #146 closed

[2015-06-11 07:21] iamso opened #147 "Crawler.stop() is undefined"
Hi
I use the simplecrawler in Simple Mode. I can start it by calling Crawler.crawl(url).on(...
On fetchcomplete I push the processed results to a client app through a websocket.
Now if someone starts crawling a really large site and decides to abort it, I want to be able to stop the crawling process, but when I call Crawler.stop(), I get `TypeError: undefined is not a function`.

How can I stop th

[2015-06-11 07:42] cgiffard commented on #147
Hi Steve —

In this case, `Crawler` (with a capital C) is the constructor for simplecrawler. `Crawler.crawl` returns an *instance* of `Crawler`, which has the method required. So, you can do this:

[code]

Please let me know how that goes for you — and don't hesitate to ask if you require any further help. I'm pretty slow about following up issues but I'll do my best. :)

[2015-06-11 07:42] #147 closed

[2015-06-11 13:46] iamso commented on #147
Perfect. Thanks.

[2015-06-13 22:44] 6pm opened #148 "How to copy same DOM element text?"
I need write some text (name and price) on page from my shop, not all files. How do it?

[2015-06-15 20:09] BrandonCouts commented on #140
[code]
I was wondering if you might comment about maybe getting this into the source. It seems to me this would be pretty straight forward change? The discovery regex needs the "?" I believe so the crawler can stripe it later as well? What are your thoughts on this?

[2015-06-17 15:49] unr3al011 opened #150 "queueItem.stateData.contentLength always 16777216"
Hello,
after crawling some different pages i always end up with a contentLength of 16777216.

Is this a bug or is there anything to configure for proper contentLength?

[2015-06-23 14:33] fredrikekelund commented on #144
@cgiffard have you had a chance to try and reproduce the problem using my test case?

[2015-06-30 07:10] fredrikekelund commented on #148
I think you might need to clarify the question a bit. Do you want to save details from just some pages in you web shop or do you want to actually edit live web pages? The first case can be accomplished easily, the second case isn't really something you likely would want to use a crawler to do.

[2015-06-30 13:23] cgiffard commented on #148
If you're just looking to scour your site and extract individual element text and data, I recommend using [Cheerio](https://www.npmjs.com/package/cheerio). Simply use cheerio.load() on the result passed to you via `fetchcomplete` and you can extract element values. Like this:

[code]

[2015-06-30 13:23] #148 closed

[2015-07-21 06:15] tschoartschi commented on #144
@fredrikekelund @cgiffard I'm experiencing the same issue. Is there any solution?

[2015-07-23 13:25] iDVB opened #151 "Crawler seems to error out as 'ECONNRESET'?"
[code]

I end up getting what looks like a ton of `fetchstart`s but ends up exponentially slowing down with each until it seems to almost just halt.

![err](http://goo.gl/xHgaRW)

[2015-07-23 13:38] iDVB commented on #151
Seems to be slowing on this page.....
http://www.salix.com/about-us/governance-compliance/vermont-prescribers-information

which has a ton of PDFs on it.... still not sure what the issue is though as I'm not getting any errors or output.

[2015-07-23 14:54] iDVB commented on #151
What I don't understand is, if I'm consoling out all events (since added more then above) why would the crawler stall without ANY logging? It just hangs there for a VERY long time.

[2015-07-24 22:09] waitingkuo opened #152 "crawler cannot finish"
This is my sample code, but it runs endlessly

      var Crawler = require("simplecrawler");

      Crawler.crawl("http://www.pureunfoldment.com")
       .on("fetchcomplete", function(queueItem){
        console.log("Completed fetching resource:", queueItem.url);
      });

[2015-07-27 14:46] mvl22 opened #153 "Add support for robots.txt, on by default"
We are seeing sites receiving crawls with this bot's signature which disobey robots.txt, falling into our honeytrap.

Please kindly add support for robots.txt, (strongly) preferably on by default.

I would argue that crawlers have a responsibility to ensure that they act as a well-behaved web citizen by default. This applies even more to open-source code crawlers, which are likely to be used by pe

[2015-07-27 14:48] unr3al011 commented on #153
+1

[2015-07-28 05:52] cgiffard commented on #150
Hi — I believe that's a problem where your server may not be disconnecting, does not send a correct content-length header, and/or continuously sends data. The '16777216' is the default maximum payload size simplecrawler will fetch.

Could you send through some example URLs so I can verify this isn't a bug on my end?

Cheers.

[2015-07-30 19:56] mortenf commented on #153
+1

[2015-08-03 20:38] BrandonCouts commented on #152
Add this to your program:
	.on("complete", function() {
		console.log("complete");
	});

[2015-08-03 20:42] waitingkuo commented on #152
normally, the program exits correctly. But with this domain, even that I added the handler for the complete event, it still didn't end.

[2015-08-04 12:19] BrandonCouts commented on #152
Thats strange, I was able to get the crawler to return.
![capture](https://cloud.githubusercontent.com/assets/7916642/9060385/3eb8539a-3a81-11e5-944f-f98391fbb3c8.PNG)

[2015-08-04 12:52] waitingkuo commented on #152
I'm using Mac and node 0.12.4. is my environment different?

[2015-08-04 15:03] marcusgreenwood commented on #153
+1

[2015-08-04 20:30] BrandonCouts commented on #152
I installed the latest node(0.12.4) just to confirm. Still runs to completion.
Using:
Windows 7
node.js (0.12.4)
simplecrawler v 0.5.2 (via npm)

[2015-08-13 10:00] lgraubner commented on #153
+1

[2015-08-14 03:45] ahansson89 commented on #151
I have the same issue.

[2015-08-18 10:05] raintears opened #155 "set response to queueItem"
hi!
i was trying to check if the page have been downloaded and saved in my db, then i will just get the content from my db, set it to the queueItem, stop the fetch from the website, and let the crawler parse the links in the content and queue for the next fetch. But I can't find a way to do so.

i tried checking during the fetchstart event and queueadd event but the crawler continues to fetch from

[2015-08-29 22:40] russelltaylor05 opened #157 "Crawler Still Fetching Resources past maxDepth"
Can't for the life of me figure out why the crawler keeps fetching resources past the Max Depth. Also, I'm seeing the events `fetchheaders` and `fetchstart`, but the `fetchcomplete` event never get fired.

My crawler takes forever to finish because it fetching a ton of resources past my specified depth. Any thoughts?`

[code]

[2015-09-04 17:25] davidgljay commented on #153
+1

[2015-09-05 13:38] Placebo opened #159 "ajaxed contet pages crawl problem"
Hi

i have a huge issue that make this script and any other worthless for me

im using this script for crawling some shopping sites

we are planing to crawl a page a shopping website called digikala (www.digikala.com)

the problem is the main product grids load their data from an ajax call

for example this page : http://www.digikala.com/Search/Category-Mobile-Phone/#!/Brand-10/Category-Electronic

[2015-09-08 14:23] BrandonCouts commented on #159
So you seem to have a fundamental error understanding how the the crawler works. It only grabs the string of an html page, (hence the simple part of 'simple-crawler') and searches via regex for urls on the page. In order for the crawler to index these ajax calls, __urls need to be found__. There are two ways you can handle this:

* You figure out how if they hard coded the ajax urls in the product

[2015-09-10 07:32] fredrikekelund commented on #153
I've used the [robots-parser](https://www.npmjs.com/package/robots-parser) module to successfully add support for respecting robots.txt rules. And I actually think this is outside the scope of simplecrawler, better to focus on the basics and expose API's to easily add this kind of behavior when needed.

Here's a code example of how to add support for robots.txt rules:

[code]

[2015-09-10 09:55] cgiffard commented on #159
It is possible to use SimpleCrawler for this, but will not catch arbitrary AJAX.

It's my recommendation that you write a custom discovery function which calls and understands the results from the AJAX calls, and appends those to the queue. You can see a rough example of this in the documentation:

crawler.discoverResources = function(buf, queueItem) {
    // scan buffer for URLs, and then:
    ..

[2015-09-10 09:55] #159 closed

[2015-09-10 10:17] cgiffard commented on #153
Hi — thanks for filing this issue. Like @fredrikekelund, I don't feel this is necessarily the responsibility of SimpleCrawler core — it is intended to be more of a toolkit for building crawlers in node and not necessarily a complete crawler in its own right. Anybody with less than scrupulous intent can easily remove robots.txt validation from core — and as a result it likely won't stop SimpleCrawl

[2015-09-10 10:19] #150 closed

[2015-09-10 10:20] cgiffard commented on #157
It would be an understatement to say that the tests around that feature are lacking — I think I'll try to fire up a good set of test cases before I work out what might be wrong.

Can you confirm that you're having the issue when crawling `cssmenumaker.com`?

[2015-09-10 10:23] cgiffard commented on #155
Hi @raintears — you can use the `crawler.stop()` and `crawler.start()` methods to make it wait for you while you check your DB.

[2015-09-10 10:23] #155 closed

[2015-09-10 10:38] cgiffard commented on #144
I still haven't managed to reproduce the problem, but I merged a PR from a user with a purported fix... could you check again?

[2015-09-10 10:47] cgiffard commented on #152
Hi @waitingkuo — I've updated the core repo to 0.5.3, which is available on npm. Are you still having the issue?

[2015-09-10 11:21] tschoartschi commented on #144
I had to crawl a website to archive it. Because it was very urgent I ended up adding random query params to every link on the website. Then the problem was gone. I can not try it again, because the website is already offline. Sorry...

[2015-09-10 11:26] fredrikekelund commented on #144
I'm experiencing the same issue with 0.5.3

[2015-09-10 12:35] fredrikekelund commented on #140
@BrandonCouts can we close this?

[2015-09-11 01:34] BrandonCouts commented on #140
Yup

[2015-09-11 01:34] #140 closed

[2015-09-11 13:31] fredrikekelund commented on #153
I've written up an example of how to include support for parsing robots.txt rules and added a [short section](https://github.com/cgiffard/node-simplecrawler#excluding-resources-based-on-robotstxt) to the README. I'll close this ticket with that, feel free to open a new one if you have specific concerns around the suggested method for parsing robots.txt's!

[2015-09-12 13:16] Placebo opened #164 "manualy adding url to crawl"
I dont know why this code not working and not fetching my custom urls

[code]

[2015-09-12 15:57] lgraubner opened #165 "parseScriptTags not working properly"
If the option `parseScriptTags` is set to false simplecrawler only crawls the first page and stops. I recognized this behavior with the Content Management System [Contao](https://contao.org/de/). It can be tested with the [demo](http://demo.contao.org/en/). Probably it is not a problem with Contao only, I couldn't figure out the problem yet. Maybe some different HTML Markup.

[2015-09-14 08:13] #138 closed

[2015-09-14 08:54] fredrikekelund commented on #145
If the entry domain redirects to a different domain, the crawler won't add that URL unless you've added the new domain to `crawler.domainWhitelist` or have permitted the crawler to continue on any domain (by default simplecrawler will only crawl the initial domain, with the exception of any www subdomain). Redirects between pages on the same domain should be added correctly. Your code seems to wor

[2015-09-14 08:54] #145 closed

[2015-09-14 11:56] lgraubner commented on #165
A little addition:

The reason I disabled this option was the following problem:

[code]

Simplecrawler detects `g;m.parentNode.insertBefore(a,m)` as URL. But this is obviously wrong. The snippet is the default Google Analytics snippet, placed right before the closing `body` tag.

[2015-09-14 12:05] lgraubner commented on #165
The Problem is this regex in `crawler.js` line 152:

[code]

In which case there is a href/src without any quotes?

Sorry for spamming this issue.

[2015-09-14 22:08] cgiffard commented on #165
That's OK — good catch. One of the things SimpleCrawler tries to do with the *default* discovery mechanism (easily replaceable with something much more sophisticated) is to detect every URL possible, even if false positives are returned (each URL then goes through a process of cleanup, hopefully removing most of the really mangled ones.)

The bug in my mind, therefore, isn't that the URL is discov

[2015-09-14 23:16] cgiffard commented on #164
Hey — thanks for filing an issue.

You're ultimately not using `discoverResources` in the correct way — this is intended to be a function you provide for discovering arbitrary resources based on an input buffer, and replacing it with a function that returns an empty list will only result in those three URLs being discovered, ever.

Instead, you should add these URLs to the queue manually:

[code]

[2015-09-14 23:16] #164 closed

[2015-09-14 23:21] cgiffard commented on #151
I believe this issue is a duplicate of #144. I'm going to add a much bigger test suite to verify that all the crawl behaviours are working as intended — there was a bug introduced some time back where the crawler will just hang in the event of an error, but I haven't found it yet.

[2015-09-14 23:21] #151 closed

[2015-09-14 23:23] cgiffard commented on #141
@magano227 Are you still in need of a solution for this problem? Are you looking to *fetch* only resources with a particular header?

[2015-09-14 23:24] cgiffard commented on #136
I think this is a duplicate of #144 — if I'm wrong, please don't hesitate to reopen the issue.

[2015-09-15 06:29] Placebo commented on #164
@cgiffard thanks
but how can i prevent the default discovery?
i want your module just do the fetch for my custom added urls - not crawl for more resources
i mean in 1 depth crawl

[2015-09-15 11:28] cgiffard commented on #164
Well, you can do: `crawler.discoverResources = function() {}` — but I suspect you're using the wrong tool if you just want to download a list of URLs. It'll work, but it might be a bit of a blunt instrument.

[2015-09-15 14:14] fredrikekelund commented on #144
I'm taking a look at this!

[2015-09-15 15:12] Placebo commented on #164
I want to make use of benefit of your caching system and sending request script

i did the following   :
[code]

got this error :
[code]

@cgiffard thanks for fast responses

[2015-09-15 21:59] cgiffard commented on #164
My apologies — made a mistake with the first suggestion by neglecting to return from the discover function. :)

Change it to:

[code]

[2015-09-15 22:01] cgiffard commented on #144
I suspect it's worth first creating a test suite with a more comprehensive crawl, to reproduce this issue.

[2015-09-16 00:44] fantapop commented on #136
When I found this issue, node-simplecrawler was unusable for me so I had to roll back to a previous version.  At the time I also experienced issue 144. For this reason I don't think they are related. I'll comment on 144 as well because I think I found a work around.  I believe the bug for this issue is in the commit I referenced.

[2015-09-16 00:49] fantapop commented on #144
I ran into this as well. If I recall correctly I believe it's related to connection keepalives. I'm away from my code at the moment but I believe I had to set a node environment variable to get past this. Maybe @boushley Can take a look at my script.

[2015-09-16 11:32] lgraubner commented on #165
I found the problem. The regex to replace all script tags if `parseScriptTags` is set to `false` assumes on or more characters inside the tags. But if you use `src` this is most likely empty and will remove a lot more source code. I provided pull request which fixes this problem.

Regarding my second comment I will look into the URL discovery, thanks for your help.

[2015-09-16 12:08] #144 closed

[2015-09-16 12:12] cgiffard opened #169 "Add Contributor Guidelines"
These are sorely lacking.

A few things need to be detailed:

* Advice for filing PRs
* Commit standards
* Linting/testing standards
* Advice on philosophy — i.e. what features are intended to be in simplecrawler core and which ones really aren't

[2015-09-16 13:05] #165 closed

[2015-09-16 14:13] fredrikekelund commented on #136
Looking at the solution to that problem, I'm not sure #144 was related to this either. @fantapop could you check if you're experiencing the same issues with the latest `master`?

[2015-09-16 18:55] fantapop commented on #136
I'm currently on vacation so it will be a little while. A couple of weeks.
I'll try to remember to check back here when I'm home.

On Wednesday, September 16, 2015, Fredrik Ekelund <notifications@github.com>
wrote:

[2015-09-18 07:47] fredrikekelund commented on #136
I can confirm that this is still an issue, even with the latest changes in master. Looking into it!

[2015-09-20 20:06] tedbjorling opened #172 "addFetchCondition receiving broken path in 0.5.3"
In version 0.5.3, the path attribute of the parameter object of the addFetchCondition function is erroneus, as the path string now seems to be prefixed with "%22", e.g. path:"%22/foo/bar" instead of "/foo/bar". Downgrading to 0.5.2 yields the correct behaviour.

[2015-09-22 11:41] fredrikekelund commented on #172
I can't reproduce this right off the bat, can you give me a test case to look into?

I tested using the follow code, and that didn't log any URL's
[code]

[2015-09-22 12:02] fredrikekelund commented on #141
Only downloading HTML, CSS and JS files is the default so long as you flip `downloadUnsupported` to false, that option looks at the content-type header. The content types that are downloaded are stored in `crawler.supportedMimeTypes`.

[2015-10-02 01:40] #136 closed

[2015-10-07 12:47] tomtom87 commented on #54
Hi, also loving this crawler and just have a question about this idea:

[code]

I'm trying to do this currently but cannot get crawler within scope when inside the function, it's not available via this also. Any ideas? Thanks

[2015-10-07 12:53] fredrikekelund commented on #54
@tomtom87 although you seem to describe a different issue, it seems one issue with your code is that you're trying to create a cheerio instance from a Buffer. The `data` argument is actually a Buffer, and so you need to call `var $ = cheerio.load(data.toString());`

The crawler should be accessible from your inner scope, but cheerio probably won't discover any links since AFAIK it can't load buffe

[2015-10-07 20:12] cgiffard commented on #54
Sorry, that was my fault for not testing my example first. :(

[2015-10-08 02:10] tomtom87 commented on #54
Hi guys, yes I actually found cheerio couldn't do it at all. I used responseBuffer.toString() to get the raw html out, and loaded that into jsdom. This has worked pretty well and with some regexp (last resort really didn't want to use this but had no choice, lost a day 'messing around' according to the boss) now my only problem remains here. I will explain.

I am trying now to add a url to the que

[2015-10-08 06:12] fredrikekelund commented on #54
I'm not sure your problem is that 'myCrawler' is undefined, I don't see anything overwriting it. It is possible that it's overwritten somewhere outside of the event listener however.

One issue though is that rather than calling myCrawler.queue.add, you should call myCrawler.queueURL(urlString, currentQueueItem)

[2015-10-08 18:40] mattpolicastro opened #175 ""No such file or directory" when using the built-in filesystem cache"
The built-in caching tool appears to be broken; I've tried caching to both existing and non-existing directories and received the following errors (`fs.mkdirSync()` and other synchronous writes?):

[code]

[code]

[code]

**Edit:** Forgot to include the sample script for reproducing the issue.
**Edit 2:** Had a small typo in the test script (had named the cache dir to `test`, not `google` as can b

[2015-10-09 03:32] tomtom87 commented on #54
@fredrikekelund  thanks I got it working now, I will try using the queueURL method, although .add is working good now. The problem was myCrawler went out of scope because I had it within the jsdom.. when I took it outside of that it was working again.

[2015-10-09 05:30] fredrikekelund commented on #54
Ah, I see! Glad you found the issue!

[2015-10-15 18:49] matthewforr commented on #175
I'm seeing a similar issue.

[2015-10-15 23:12] cgiffard commented on #175
The cache code is more than a little crusty. I'll stick this on my todo list. Sorry all. :(

[2015-10-15 23:16] matthewforr commented on #175
No problem, from what I can gather, the issue is that the code is trying to
write the file as a folder. I have it working by using an older version of
node-simplecrawler

On Thu, Oct 15, 2015 at 7:12 PM Christopher Giffard <
notifications@github.com> wrote:

[2015-10-15 23:17] mattpolicastro commented on #175
@matthewforr which version, might I ask? I've tried rolling back a few versions to no avail, and would kill to have something to work with in the interim.

[2015-10-16 01:33] cgiffard commented on #175
Well, it definitely used to work at some point, but I have a suspicion it's been broken for quite a while. There are no tests for it, so it kinda figures.

[2015-10-16 04:49] fantapop commented on #79
So, I think that I ran into this.   The description is very similar. Using node 0.10.35,  I'm crawling a site and the progress stops at a certain point.  That point changes if I change the number of allowed concurrent requests.  I simplified settings and added a ton of logging to dig into this.  I never fully figured out what's wrong but the queue effectively freezes because there are some request

[2015-10-16 11:49] fredrikekelund commented on #172
@tedbjorling bump. I still haven't been able to reproduce this, wondering whether you're still having trouble with this or not

[2015-10-22 06:19] cgiffard opened #179 "Ensure URI #fragments are stripped from URIs, and test for this"
At present, it appears URI fragments are being sent to the server, when they should be known only to the client. We should strip them out.

[2015-10-22 06:21] cgiffard commented on #175
A desire to fix this issue dates all the way back to #4, haha. I really need to make it work properly.

[2015-10-22 07:06] cgiffard commented on #79
@fantapop I think you might be experiencing an issue similar to #178. This is such a hard one to nail down... I wonder if it's a bug in node 0.10.X, or just a quirk of the default globalAgent.maxRequests being.

[2015-10-27 05:12] #157 closed

[2015-10-27 15:41] asmerkin opened #180 "WP /feed/ url not being crawled"
Hello,

I'm crawling a Wordpress Install. Everything is fine until the crawler reaches the /feed/ url and it gets stucked there.

It has a hard time scanning http://centricdigital.com/contact/feed/

What can this be?

[2015-10-28 01:49] russelltaylor05 opened #181 "Crawling with Promises"
Would it be possible to use Simple Crawler as part of a Promise chain? I've used Bluebird before to Promisify things, but not sure if it would work with this crawler.

[2015-10-28 09:06] fredrikekelund commented on #181
Not really. Promises are meant as a replacement for callbacks, but simplecrawler is event driven, not callback driven. Using callbacks to any greater extent in simplecrawler wouldn't make much sense, since the developer normally needs to react more than once to what happens in simplecrawler. [request](https://www.npmjs.com/package/request) for example is different, promisification makes sense ther

[2015-10-28 09:06] #181 closed

[2015-10-28 20:52] cgiffard commented on #181
[Events can be chained in pretty ways similar to promises anyway, and are nice and composable.](https://github.com/cgiffard/SteamShovel/blob/master/lib/cli.js#L19-L29) :)

Thanks @fredrikekelund

[2015-11-01 12:29] tomtom87 opened #182 "utf8 support"
Hi,

I have been loving using your crawler. One of the best solutions I have found yet. All is well just I happen to be __that user__ that found the `TODO` note in `Crawler.js` and I have been trying for the past day or so to get 'er working. To no avail.

I am currently trying the following things:

1. Conversion with Iconv from the Byte string inside `discoverResources` method:
[code]

This resu

[2015-11-01 12:33] tomtom87 commented on #182
btw this is from scraping a Thai character set website. As far as I know I can store the characters into UTF-8. I used to do this in PHP with iconv, so hope the same will apply here - unless there is some caveats I am unaware too. Didn't reach any conclusion from documentation so far.

[2015-11-02 09:04] fredrikekelund commented on #182
If I understand your problem correctly, you want to decode the contents of the page before discovering resources? I'm thinking that URL's should generally be URL encoded, so I'm not sure how much effect this would have. But in any case, here's how I would go about it.

I would reuse the `discoverResources` method from here https://github.com/cgiffard/node-simplecrawler/issues/130#issuecomment-1030

[2015-11-02 09:05] fredrikekelund commented on #180
Hmm, does the crawler simply get stuck or does it throw an error?

[2015-11-02 12:55] tomtom87 commented on #182
@fredrikekelund  actually no, crossed wires here - that part works fine and the URLs are getting encoded to html entities the actual problem lies in getting the response buffer data, in crawler.js there is a todo note to add UTF8 support. I wish to add that support.

[2015-11-02 13:24] fredrikekelund commented on #182
My bad, that should've been clear to me from your original post, really.

Just to make sure we're on the same page, though - UTF-8 support is there right now, it's other text encodings that aren't accounted for (ie. no effort is made to detect the encoding of the response body).

I know I've run into this problem when working with simplecrawler, but this has been discussed before in #45 and the de

[2015-11-02 15:03] tomtom87 commented on #182
@fredrikekelund  no worries, well I'm confused because I cannot get UTF8 working at all. going to try with @cgiffard said on #45

It is this [line here](https://github.com/cgiffard/node-simplecrawler/blob/master/lib/crawler.js#L531) I am wondering about:

[code]

Will let you know how I get on with the toString('uft8') and iconv-lite idea.

[2015-11-02 17:04] asmerkin commented on #180
It just gets stuck at that point.

Sent using CloudMagic Email
[https://cloudmagic.com/k/d/mailapp?ct=pa&cv=7.4.10&pv=5.0&source=email_footer_2] On lun., nov. 02, 2015 at 6:05 AM, Fredrik Ekelund < notifications@github.com [notifications@github.com] > wrote:
Hmm, does the crawler simply get stuck or does it throw an error?

—
Reply to this email directly or view it on GitHub
[https://github.com/cg

[2015-11-02 20:28] cgiffard commented on #182
Hey! Sorry about my slowness in helping out with these issues. :(

I noted that there because I was looking to handle a couple of edge cases I'd seen in EUC-JP where URLs were not properly encoded — but, for the most part, URIs are only ever 7 bit ASCII, which is common to most encodings. So I decided to avoid (for now) the cost of the conversion every time, and instead just assume the input is UT

[2015-11-02 20:31] cgiffard commented on #182
Are you having problems in link discovery as a result of the Thai character set specifically? Or would you like to provide UTF-8 text as a convenience via the API?

[2015-11-03 03:53] tomtom87 commented on #182
@cgiffard Thanks for getting back to me man :) The problem is the actual webpage data is coming out with these ???? characters and I cannot get the actual content..

[2015-11-03 11:45] cgiffard commented on #182
Are the links being discovered? Is any of the data readable at all? Or is everything completely mangled? (As in, you can't make any sense of page structure regardless of whether the text is readable.)

[2015-11-03 11:47] tomtom87 commented on #182
@cgiffard Yes the links are fine because the characters are becoming url encoded html entities, it is just the actual page contents that gets mangled and only the thai characters all english characters are fine and the html markup is fine also. Thanks for getting back to me

[2015-11-03 11:53] fredrikekelund commented on #182
@tomtom87 would it be possible for you to share what page it is you're working with? Might be helpful to see what headers are sent etc

[2015-11-03 12:01] tomtom87 commented on #182
@fredrikekelund sure thing it's just here http://www.haru-harashop.com/shop-haruhara-module-product-new-page1.html

The page is being detected as `{ encoding: 'TIS-620', confidence: 0.7239134250549037 }` with `jschardet` npm module

The urls come in as so `http://www.haru-harashop.com/haruhara-item-JOA-Cream-Pack-%EF%BF%BD%EF%BF%BD%EF%BF%BD%EF%BF%BD%CB%B9%EF%BF%BD%D2%A2%EF%BF%BD%EF%BF%BD-%EF%BF%BD

[2015-11-03 12:02] tomtom87 commented on #182
FYI when I try a iconv conversion I get the following error:

[code]

[2015-11-03 12:05] fredrikekelund commented on #180
I tried to reproduce your problem with simplecrawler 0.5.4 and the following script, but it seems the crawler passed http://centricdigital.com/contact/feed/ without any issues.

What version of simplecrawler do you use? Do you use a custom discoverResources function or any other custom configurations?

[code]

[2015-11-03 12:22] fredrikekelund commented on #182
I used `iconv-lite` to decode the response buffer based on the encoding specified in the Content-Type header and got [this result](http://pastebin.com/0fYWv8Qq). Does that look correct?

Here's the code I used (the `decodeResponse` method is copy-pasted from my own project):

[code]

It seems they specify the same charset in the Content-Type header as was detected in your code (tis-620). So as lon

[2015-11-03 12:51] tomtom87 commented on #182
@fredrikekelund genius! yes that is the correct decoding! Thank you so so much!! I will try with your code and see what it is.

If this was in the core I think simplecrawler is by far one of the best crawlers available

[2015-11-03 13:05] fredrikekelund commented on #182
Glad to hear it helped you out :) I'll go ahead and open a PR for this, and we can continue the discussion there around whether or not to implement this in.

@tomtom87 maybe you can close the ticket once you've confirmed whether or not this worked for you?

[2015-11-04 06:13] herkyl opened #184 "A name is required to create a cookie"
After running simplecrawler throughout the night it crashed multiple times on the same error:
[code]

[2015-11-04 15:39] tkrotoff opened #185 "Provide a command line interface (CLI)"
See https://github.com/cgiffard/node-simplecrawler/blob/v0.5.4/lib/cli.js

[2015-11-05 09:47] tomtom87 commented on #182
@fredrikekelund  it's working!! So happy right now I owe you man! This is great :) Thanks for really giving me a great weekend :100:

[2015-11-05 09:51] fredrikekelund commented on #182
Haha no worries! :cocktail: Keep an eye out in #183 to see when this makes it into core

[2015-11-05 09:51] #182 closed

[2015-11-07 01:23] asmerkin commented on #180
Yes, you're right.

It must have been a connectivity issue. Now it's working fine. Maybe the
feed was very long.

Thank you!

2015-11-03 9:05 GMT-03:00 Fredrik Ekelund <notifications@github.com>:

--
Andrés Smerkin
http://www.andressmerkin.com.ar

[2015-11-07 08:16] fredrikekelund commented on #180
Alright, good to hear!

[2015-11-07 08:16] #180 closed

[2015-11-10 18:52] Roninnanaki opened #186 "Receiving 404 Error for links containing parenthesis."
When using queueURL() and providing a link containing '()' simple crawler responds with a 404.

[2015-11-11 03:33] cgiffard commented on #186
This could be an issue with escaping. Would you mind posting the code you're using to queue the URL?

[2015-11-11 18:25] rolfen commented on #157
I've had the same issue despite
crawler.fetchWhitelistedMimeTypesBelowMaxDepth == false
This is how I've gotten around it:

    // wrap default discovery function with a depth check
    var defaultCrawlerResourceDiscoveryFunction = crawler.discoverResources;
    crawler.discoverResources = function(buf, queueItem) {
        if(queueItem.depth < input.depth) {
            var ret = defaultCrawlerRe

[2015-11-12 12:45] rolfen opened #187 "Crawler event on depth change"
This is a feature request.
I suggest having a "newlevel" event fired when the crawler depth changes or when all resources for a level/depth have finished processing.

[2015-11-12 12:47] rolfen opened #188 "Method to de-qeuque item"
This is a feature request.
I think there should be a way to deQueue an item. I did not find a dequeue method.
This would be either crawler.dequeue(queueItem) or queueItem.dequeue()
Or maybe something else?

[2015-11-12 17:34] rolfen opened #189 "Cache is trying to open an invalid path"
I tried using the cache, as documented in your readme.
Created the cache folder, then added:

`crawler.cache = new Crawler.cache('./cache');`

And that happens:

                throw error;
                ^

    Error: EISDIR: illegal operation on a directory, open './cache/http/www.mywebsite.com/80/index.html'
        at Error (native)

Node v4.2.1 on OSX 10.10.3. Simplecrawler should be 0.5.4

[2015-11-13 14:29] rolfen opened #190 "Crawler ignores "HTML redirects""
Example:

     <meta http-equiv="refresh" content="0; url=en/index.html">

My crawler ignores that, and I don't find any code to handle it. I'm going to have to extend the discovery function (again).

[2015-11-13 20:10] cgiffard commented on #190
Thanks for reporting that. I'll add an expression to the discovery function.

[2015-11-14 21:56] tedbjorling commented on #172
@fredrikekelund sorry for not replying sooner, but the issue was with the `discoverRegex` I was using. The following worked fine in the 0.5.2 version, while produced the aforementioned result in 0.5.4:
[code]

[2015-11-15 11:12] fredrikekelund commented on #172
Hmm a bit strange that the result of the regex would change between the versions though. And I don't see how either of them would capture any quotes. Have you looked at the diffs between the two versions to see what might've triggered the problem?

[2015-11-15 16:20] tedbjorling opened #192 "Crawl suddenly stops for no apparent reason"
When I run the following code on 0.5.4 the crawler suddenly stops for no obvious reason (in the example below, I usually see that it stops when having reached approx. ~14800 queue items):

[code]

If I freeze/defrost the queue and resume the crawl session, it continues for essentially the same duration after which it stops again, and so on.

[2015-11-15 21:20] cgiffard commented on #192
So it fires `fetchcomplete`, even where the queue has a considerable number of unfetched items? :-/

[2015-11-17 07:38] gorbatenkov commented on #190
+1 for this feature

[2015-11-17 14:17] tedbjorling commented on #192
I guess the `fetchcomplete` events are expected when resources have been fetched and are ready for processing. The `complete` is never emitted, so basically it just seems to be left hanging there. Are you able to reproduce this?

[2015-11-18 11:24] rolfen commented on #190
I wrote a quick extension to the discovery function, using cheerio to match meta tags that have attributes http-equiv and content, then use this regex:  /^\s*url\s*=\s*(.+)$/i  to extract the URL.
I don't think it can be done properly with a regex only.
Anyway, thought this might help. If I have time maybe I can try to fork and extend the crawler - if you would consider my pull request afterwards!

[2015-11-19 07:21] #175 closed

[2015-11-21 07:34] cgiffard commented on #185
I'll do what I can! Always wanted to have one. :)

[2015-11-21 07:42] bfwg commented on #188
What is the purpose of dequeue?

[2015-11-23 07:25] bfwg opened #195 "The call backs"
I'm looking through the code and I see almost all the functions have a callback function in their params even the function is not a async function. I'm new to Javascript but doing something like this in queue.js
[code]
Is it the same as doing something like this
[code]

[2015-11-23 13:06] cgiffard commented on #195
They are roughly equivalent. However, while the default FetchQueue in SimpleCrawler is synchronous, the intention is that it implements an async API, to allow async queues. Think, a queue backed by Redis, or Mongo, etc.

[2015-11-23 13:06] #195 closed

[2015-11-23 13:07] cgiffard commented on #195
The value is returned from the function to maintain compatibility with older code, back when the FetchQueue interface was synchronous only, and did not take callbacks.

[2015-11-23 18:40] bfwg commented on #195
I understand now, thank you!

[2015-11-24 18:52] sethbridges commented on #172
In the 0.5.4 version, I'm getting fetch404 errors because the crawler is somehow finding paths that look like /3%22 that clearly don't exist on my page.

Here's a test for you that crawls our marketing site with a depth of one and returns a single fetch404 error with this style path.

I spent the 15 mins to find out where it is getting this 3" from, and it is a regex bug:

This link is on our page

[2015-11-25 11:04] rolfen commented on #188
In some cases, we don't want to queue an item but based on some more advanced conditions, and before actually fetching the item.
It also makes sense since there is a queue method to have a way to revert that operation.
At the moment I am using the discovery function for that.

[2015-11-25 11:39] cgiffard commented on #188
You can already prevent items from being queued, without having to undo the operation. Check the section on [Fetch Conditions](https://github.com/cgiffard/node-simplecrawler#excluding-certain-resources-from-downloading) in the docs. :)

Please let me know if this isn't clear — and I'll try to add some more explanation.

[2015-11-30 07:40] nttdocomo commented on #192
I have the same problem

[2015-11-30 17:16] rolfen commented on #188
It's clear thanks. Fetch conditions only allows me to check against URL.
I wanted to check queue depth before deciding, and that was the origin for this idea.
If addFetchCondition callback would accept something such as a queueItem object or something more advanced than a URL, it might be helpful.

[2015-11-30 21:01] Roninnanaki commented on #186
Sorry for the delayed response. I agree and think that it has to do something with how characters are being escaped. Here is an example of how I am using the crawler.

[code]

Below is the results of the console log.

[code]

Please let me know if you need anything else.

[2015-11-30 21:03] cgiffard commented on #188
What else apart from depth would be useful? (Remember that there's only limited information available before fetching an item.)

[2015-11-30 23:18] sethbridges commented on #172
@fredrikekelund

bump.

The regex that is matching this expression doesn't require a space before the space attribute. This is leading to the match of src=3" when embedded into another url (e.g., as a querystring param).

From crawler.js:

[code]

[2015-12-01 00:32] cgiffard commented on #186
What server are you using? It seems like it doesn't understand the escaping — the URL appears correctly escaped for transport in the queue snippet you've posted.

[2015-12-02 01:43] bfwg opened #197 "discoverRegex need improvement"
[code]
I try to test the crawler on your website :P and I got this.
`start fetching http://www.cgiffard.com/background.jpg`
`start fetching http://www.cgiffard.com/%22background.jpg%22;`
After I look into this a little bit I found out that `"background.jpg";` is passing our Regex.

I did a bit debugging and find out that
[code]
Is the reason cause `"background.jpg;"` to pass.

I change it to
[code

[2015-12-03 09:12] gorbatenkov commented on #190
Hello, will you modify discovery function of the crawler? I think this feature will be very helpfull

[2015-12-07 07:53] gorbatenkov commented on #190
Hello,  rolfen, can you share your decision with me?

[2015-12-07 21:17] tedbjorling commented on #192
After having done some debuging I made two fixes that appears to have remedied this for me at least. I realize I could have been a bit more methodical, but fwiw, the following greased the gears for me:

1) I was using an older version of Node.js (0.10.33), upgrading to 5.1.1 made things run much smoother.

2) I saw issues with the "receiveData" function in crawler.js, where it sometimes did not en

[2015-12-08 00:26] namklabs opened #199 "Complete crawl after X resources completed"
The .stop() method doesn't emit the complete event, but I want to stop my crawler after X many fetchcomplete events and still emit the complete event. Is there a way to do this?

[2015-12-08 11:24] fredrikekelund commented on #199
Sure, just use the standard EventEmitter methods (simplecrawler inherits from EventEmitter)! The `complete` event doesn't supply any arguments, so all you need to do is to keep a counter of the number of fetched pages, check that counter for every `fetchcomplete` event and then do something like:

[code]

[2015-12-08 11:24] #199 closed

[2015-12-08 11:28] fredrikekelund commented on #192
@tedbjorling could you submit your changes in a PR? Sounds like this could do some good if merged

[2015-12-09 15:51] Roninnanaki commented on #186
We user express 4.X for our server along with an internal tool to help with handlebars. Sorry for the late response I have been trying to determine if it is some in either of those tools with no luck.

I started reading about URLs and found that parens are an un-reserved character and do not nee to be escaped. [what-every-developer-should-know-about-urls](http://www.skorks.com/2010/05/what-every-d

[2015-12-09 18:18] rolfen commented on #190
Hello gorbatenkov. Here is my code. I don't know if it will work in your context. Hoping it will be useful.
It has a dependency for npm module cheerio.
[code]

[2015-12-09 18:24] gorbatenkov commented on #190
Thank you rolfen.

[2015-12-09 20:36] cgiffard commented on #186
Ah, good catch. Sounds like a bug with URIjs. I'll first try updating the dependency and seeing if they've fixed it — otherwise we should probably raise a bug over there.

[2015-12-09 20:41] cgiffard commented on #186
It also sounds like there could be a parallel bug in node's URL parsing. I'm surprised I never saw this before. What version of node is it?

[2015-12-09 20:42] Roninnanaki commented on #186
Right now we are on Node 0.12 but we are in the process of moving to 4.X.

[2015-12-11 04:19] sethlesky commented on #172
@sethbridges @fredrikekelund I believe I'm seeing the same, or related behavior. I crawled a site that has javascript within a script tag.

   		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m

[2015-12-15 04:03] cgiffard commented on #172
Simplecrawler optimistically looks for URLs, even if those URLs might be messy or invalid — the rationale being it's better not to miss something and get a bunch of 404s, than to keep things clean and maybe miss a resource.

You can change the discovery function or tune the behaviour of the inbuilt discoverer if this is a problem.

The escaping, though, is a separate issue.

[2015-12-19 08:45] cgiffard commented on #185
FYI working on this now.

[2015-12-21 07:53] fredrikekelund commented on #172
@sethlesky did you disable the `parseScriptTags` option? That should hopefully help with simplecrawler not picking up JavaScript code as URL's

[2015-12-21 08:22] fredrikekelund commented on #197
@bfwg could you submit this as a PR? Thanks!

[2015-12-21 08:25] fredrikekelund commented on #172
@sethbridges I've pushed a commit that fixes the issue with 'href' or 'src' strings inside URL's. Give https://github.com/cgiffard/node-simplecrawler/commit/5442be48e96af15f01760026d096be0677c0a70c a try and let me know if you have any problems! I'll close this in the meantime

[2015-12-21 08:25] #172 closed

[2015-12-21 08:33] fredrikekelund commented on #179
@cgiffard I added a test in https://github.com/cgiffard/node-simplecrawler/commit/ca9bef627f3d5359a415068fb99284997f2945b2, and it seems fragment identifiers are being stripped already.

[2015-12-21 09:06] fredrikekelund commented on #186
[RFC 3986](http://tools.ietf.org/html/rfc3986) actually claims parens as reserved characters, and AFAICT that's the latest standard. This seems to be an error in the article you linked that [others have pointed](http://www.skorks.com/2010/05/what-every-developer-should-know-about-urls/#comment-587672379) out as well.

I actually did not find that removing the `normalize` call prevented the parens

[2015-12-21 09:17] cgiffard commented on #179
Cool. I'll close this issue! :)

[2015-12-21 09:17] #179 closed

[2015-12-21 09:27] cgiffard commented on #190
Generally speaking the simplecrawler philosophy is that the discovery mechanism is almost painfully stupid — it's a brute-force kind of approach where it'll try match *everything*, even if it isn't really a URL — and uses filters to pull out all the garbage after the fact.

The idea is that a whole bunch of 404s for junk resources are less of a problem than missing something — if your needs are th

[2015-12-21 21:19] sethbridges commented on #172
@fredrikekelund thanks, that did the trick.

[2015-12-22 00:14] rolfen commented on #190
Hello cgiffard. Thanks for your answer.

I don't advocate cheerio and it should be easy to avoid it. I just copy-pasted my solution in this particular case on request and hoping it might help somebody. I wrote this code under pressure and in like 1/2 hour. It is not properly commented, and looking at it, in all honesty looks like terrible code.

The core issue here is that a crawler is expected, I

[2015-12-22 00:49] cgiffard commented on #190
Thanks again @rolfen — just wanted to quickly chime in to say that I wasn't critiquing your code or anything, (I really appreciate you contributing to discussions and helping out here!) — just wanted to elaborate on what simplecrawler's discovery mechanism is about. :)

I do think we should support meta refresh, as well as the equivalent HTTP header (which we currently don't) — and tags like `<bas

[2015-12-23 08:11] fredrikekelund commented on #197
Merged fix in #203

[2015-12-23 08:11] #197 closed

[2016-01-03 20:42] benoitpointet opened #204 "handle many initial URLs"
I'd like to use simplecrawler to check some properties of sets of websites (10 to 100). I played a bit with it but am having a bit of troubles with the concepts of initial URL and adding things to the queue in simplecrawler.

What's the best way to crawl with many start-URLs?

[2016-01-04 09:48] fredrikekelund commented on #204
I would probably just create one instance of simplecrawler for each site. Running 10-100 instances in parallell sounds a bit intense, though, so try limiting the number of parallell crawler instances. As for adding new URL's, see that [section in the README](https://github.com/cgiffard/node-simplecrawler#adding-to-the-queue)

[2016-01-04 09:48] #204 closed

[2016-01-05 12:21] Jip-Hop opened #205 "Fetch not completing (after a while)"
Test code:
[code]

Because maxConcurrency is set to 1, I expect all requests to either complete or fail before the next request is attempted. However, after a while a lot of requests seem to be made that never complete, nor fail.

Test code output:

[code]

[2016-01-05 12:36] fredrikekelund commented on #205
Instinctively, I would say this is because the maxDepth setting. The depth of the resource is actually determined after it's been fetched because of the `fetchWhitelistedMimeTypesBelowMaxDepth` setting, see [this comment](https://github.com/cgiffard/node-simplecrawler/blob/master/lib/crawler.js#L330-L345) for reasoning. Anyway, this would mean that any resources found at depth 3 would not fire a f

[2016-01-05 12:48] fredrikekelund commented on #75
This was addressed in #200. Maybe using tough-cookie is a good choice, but at least the problem that was the start of this thread should be fixed by now

[2016-01-05 12:48] #75 closed

[2016-01-05 13:54] Jip-Hop commented on #205
Thanks a lot for the quick reply! So it appears it's not a bug but a feature :)

I was confused because my intended use is cache priming. So for my use case it matters if a resource is fetched and then discarded, or prevented from begin fetched. I want to save resources on the server and only prime 1 level deep from the frontpage.

I'm now using these settings:
[code]
I haven't checked in the serv

[2016-01-05 13:54] #205 closed

[2016-01-11 11:06] mvl22 commented on #153
The 'default' for the web is respecting robots.txt, a well-known, and 20-year old standard.

As I argue above, and I see several others agree, the default should be that it is respected.

Of course. The point is that most people won't even realise, so those who download it for their projects will be unwittingly ignoring the intentions of the site owner.

Anyone who really needs material which the

[2016-01-11 12:19] cgiffard commented on #153
It's something I'd consider shipping in an extended distribution, but I have to be honest — my day job keeps me pretty busy and it's not high on my list of priorities. If you'd like to file a PR with the feature implemented as you consider most appropriate, I'd be delighted. :)

[2016-01-21 19:01] andreivisan opened #206 "Calling crawler.stop() does not stop the crawling process"
I would like to be able to stop the crawler manually. I tried by calling crawler.stop() but nothing happens. Am I doing it wrong?

[2016-01-22 04:02] cgiffard commented on #206
`Crawler.stop()` halts the timer which spawns new requests, but it doesn't halt requests already in flight. If your crawler is configured to be highly concurrent, or the latency of the requests in flight is high, the crawler may take a while to finally die.

Could you offer some more detail about your situation? Perhaps I can assist in troubleshooting? What have you observed?

[2016-01-22 11:19] andreivisan commented on #206
Thank you for your fast reply. I finally understand now why it didn't stop :).

I have built a web crawler with a UI as well. So what I am trying to do is to start a crawler instance (1 thread) for a certain URL I provide and I would like to have the option to stop it manually from the UI. So when I hit the "Stop" button I would like to send an event (maybe "complete" or "fetchcomplete") so that t

[2016-01-26 14:06] hristod opened #207 "ignoring initialPath"
When I set the property as, for example:
    myCrawler.initialPath = '/en'
the crawler still starts from the root URL (www.example.com instead of www.example.com/en/).

[2016-01-26 20:51] cgiffard commented on #207
Can you paste a code example which exhibits this problem?

[2016-01-26 21:20] perrohunter opened #208 "Have crawler follor redirect Http 301"
Hi,
The crawler is hitting urls which were permanently moved and return status 301 on the fetcherror event.

Is there a way to have the crawler follow the redirect to the new location?

[2016-01-26 21:47] cgiffard commented on #208
Hi — thanks for filing an issue.

[The code in question should respect any 3XX response which sets a location header](https://github.com/cgiffard/node-simplecrawler/blob/master/lib/crawler.js#L1184-L1185)

Can you post a test case or some code which shows the problem? Could the server not be setting a `Location` header? Perhaps the redirect is to a hostname which is not whitelisted by your initial

[2016-01-27 06:57] hristod commented on #207
Sure, here is an example (It've cut out much of my code, since it doesn't concern the example. I hope I didn't mess up :)

      // Exclude anything except for links
      var exclude = ['gif', 'jpg', 'jpeg', 'png', 'ico', 'bmp', 'ogg', 'webp',
        'mp4', 'webm', 'mp3', 'ttf', 'woff', 'json', 'rss', 'atom', 'gz', 'zip',
        'rar', '7z', 'css', 'js', 'gzip', 'exe'];
      var exts = exclude

[2016-01-27 07:03] fredrikekelund commented on #207
It looks like you've misspelled it - `initalPath` should be `initialPath` :)

[2016-01-27 07:06] hristod commented on #207
Seriously, I am an idiot :D Thanks for the help!
Cheers!

[2016-01-27 07:06] #207 closed

[2016-01-27 07:07] fredrikekelund commented on #207
No worries!

[2016-01-27 07:31] fredrikekelund commented on #153
I'm working on a PR, will reopen this in the meantime.

[2016-01-28 13:21] evenisse commented on #184
I have a similar issue :

/Users/dev/code/crawler/crawler/node_modules/simplecrawler/lib/cookies.js:329
        throw new Error("String must be supplied to generate a cookie.");
        ^

Error: String must be supplied to generate a cookie.
    at Function.Cookie.fromString (/Users/dev/code/crawler/crawler/node_modules/simplecrawler/lib/cookies.js:329:15)
    at CookieJar.add (/Users/dev/code/cra

[2016-01-28 19:17] andreivisan commented on #206
Can anybody please help me with this issue? I would like to be able to stop the crawler manually.

[2016-01-28 22:38] fredrikekelund commented on #206
@andreivisan I'm not sure I understand - does calling the stop method not work at all in your case? Or do you need to very specifically halt the crawler with all of its currently open requests?

[2016-01-30 00:38] andreivisan commented on #206
@fredrikekelund thank you for your answer. I need to very specifically halt the crawler with all of its currently open requests.

[2016-01-30 01:32] cgiffard commented on #206
There's no easy API for stopping all open requests at this stage, unfortunately. It might be worth storing the open requests against the crawler so they can be individually addressed (and aborted.)

[2016-02-01 21:34] andreivisan commented on #206
Thank you for your reply. I will try and do what you suggested, store each individual open request then abort them one by one.

[2016-02-02 08:19] fredrikekelund commented on #206
@andreivisan if you find a way to implement it nicely, feel free to submit a pull request. One way, although slightly hacky, might be to monkey patch the `http.request` and `https.request` methods to catch every request that is initiated.

[2016-02-02 12:03] andreivisan commented on #206
@fredrikekelund thank you for your answer. If I will find an elegant solution I will submit a pull request.

[2016-02-03 05:04] cgiffard commented on #206
The crawler already uses a counting mechanism to maintain a constant level of concurrency — it'd be a no brainer to extend that to actually hold the requests inside an array, for instance, and use the length of that array rather than a plain integer for managing concurrency.

BTW @fredrikekelund I added you to the npm owners. :)

[2016-02-03 09:03] fredrikekelund commented on #206
@cgiffard golden, thanks! :100:

[2016-02-03 09:14] fredrikekelund commented on #192
I've tried to address this in #209, would be great with some additional testing of that fork! Ping @tedbjorling

[2016-02-03 13:19] rlanore opened #210 "Doesn't work with nock ?"
I'm trying to use this module with nock for testing a small app but it doesn't fire fetchcomplete event and hang on fetchheaders

[code]

[2016-02-03 13:41] fredrikekelund commented on #210
I had to dig around a bit to find out what the problem was, but it turned out to be that nock doesn't set any headers automatically, neither `Content-Type` nor `Content-Length`. simplecrawler relies on both of those headers, and when I tried setting them, things worked as expected. I didn't have any luck with nock's [replyContentLength](https://www.npmjs.com/package/nock#including-content-length-h

[2016-02-03 13:41] #210 closed

[2016-02-03 17:45] rlanore commented on #210
Copy / paste and it don't work for me

I have tried with
nnode version 4.2.2 and 0.10.29
nock version 2.18.2
simplecrawler version 0.5.4

what is your version of node and module ?

[2016-02-03 17:57] rlanore commented on #210
seem to work with node version: 0.10.38.

[2016-02-03 18:21] fredrikekelund commented on #210
I believe I used node 5.4.0 when testing. Odd that it didn't work for you. simplecrawler 0.6.0 was released earlier today, though, you might want to try that to see if that helps the problem

[2016-02-03 18:40] rlanore commented on #210
I confirm that work with 0.6.0.
Thanks !

[2016-02-03 22:23] fredrikekelund commented on #210
No problem! Happy to hear it works as expected now

[2016-02-04 00:44] rdonmez opened #211 "addFetchCondition()"
how can I add a condition from mongodb?
thanks.

[2016-02-04 01:09] bfwg commented on #211
This is how you add a condition.
[code]
Cheers

[2016-02-04 01:32] rdonmez commented on #211
no crawling when I use mongo query callback function. the process doesn't continue.

here is my code.

crawler.addFetchCondition(check);
function check (url) {
    queue_item.findOne({ host: url.host }, function (err, doc) {
        return doc != null;
    });
}

[2016-02-04 02:54] cgiffard commented on #211
The fetch condition is currently a *synchronous* API, whereas the Mongo query you're running is an *asynchronous* API. If you're stuck, it might help to read through [this great resource on asynchronous programming in JS](https://github.com/getify/You-Dont-Know-JS/tree/master/async%20%26%20performance).

Firstly, you can't return from an asynchronous API. The function has long since returned in th

[2016-02-05 09:16] fredrikekelund commented on #153
Submitted a PR. For those interested, see #212

[2016-02-05 09:34] fredrikekelund commented on #131
The `fetchWhitelistedMimeTypesBelowMaxDepth` setting is a bit weird to me... I think the best way to accomplish what you're after would be to provide the current queueItem to all fetch conditions. That would enable the developer to determine whether to fetch the next resource based on the current depth.

I realize this ticket hasn't been active in a while, but I'll see what I can do about submitti

[2016-02-05 18:22] BenChirlin commented on #131
Yeah pretty old. I already finished my project but I ended up forking the repo, adding an `ignoreDepth` option for a specific regex, and managed it that way. I submitted a PR but the manager of the repo said he didn't feel like it added enough utility but I'm glad to have tried to contribute (and got my project finished!).

[2016-02-08 01:05] cgiffard commented on #131
I like the idea of making the queueItem available to fetch conditions. Bear in mind that it won't have much data in it at that early stage. (I think in the life cycle of where the fetch condition is executed, the queueItem hasn't even been created yet.)

[2016-02-08 01:07] cgiffard commented on #131
Generally speaking I think a lot of people's requests centre around specific rules for what is fetched and what isn't — and having a more flexible mechanism to allow them to write those rules would both satisfy their requirements as well as keep a lot of crazily complex and highly specific logic out of simplecrawler core.

[2016-02-08 08:37] fredrikekelund commented on #192
I'm guessing that #152 is a duplicate of this ticket

[2016-02-08 09:08] fredrikekelund commented on #152
I just published simplecrawler 0.6.1. If you were experiencing this issue, please give it a try!

[2016-02-08 09:08] #152 closed

[2016-02-08 09:08] fredrikekelund commented on #192
I just published simplecrawler 0.6.1. If you were experiencing this issue, please give it a try!

[2016-02-08 09:08] #192 closed

[2016-02-08 09:17] fredrikekelund commented on #131
Looking at the code, I realize that depth is already one of the properties being passed to fetch conditions in the URL object. Maybe we ought to pass just the depth property as a second argument to avoid confusion.

I'm thinking it might be a good idea to complement fetch conditions with a new concept called something like download conditions. They would work the same way as fetch conditions, but

[2016-02-08 09:20] fredrikekelund commented on #141
Closing this since simplecrawler does have support for excluding resources based on their Content-Type header. Let us know if you're having more trouble, @magano227!

[2016-02-08 09:20] #141 closed

[2016-02-08 09:21] fredrikekelund commented on #186
@Roninnanaki did you track down the cause of this problem? It doesn't seem to lie with URI.js (which is what simplecrawler relies on for the URL encoding)

[2016-02-08 09:23] fredrikekelund commented on #131
A solution like that would also address the use case that @rolfen is looking for in #188

[2016-02-08 09:25] fredrikekelund commented on #211
I'll close this for now, if we go on to implement an asynchronous fetch condition API, I'll open a dedicated ticket for that and reference this one. Let us know if you have any more problems @rdonmez!

[2016-02-08 09:25] #211 closed

[2016-02-08 18:31] Roninnanaki commented on #186
@fredrikekelund I think that you maybe right about the server. Or it could be one of our other services that feed us the URLs. I did read that in the RFC 3986, my bad for not posting an update. Though at the time I was working on it once I comment the normalize() call our implementation of the crawler had no problem with the urls. At this point I no longer an on that project and won't be investiga

[2016-02-08 18:31] #186 closed

[2016-02-08 20:50] fredrikekelund commented on #184
This is a tricky one. Most likely it's simply due to a malformed `Set-Cookie` header. I think it's a bit overkill for the crawler to throw an error because of this, what with external headers being outside of the developer's control and all. Perhaps a better solution would be to raise an event when there's an error. I'll look into fixing it!

[2016-02-09 13:58] tibetty opened #213 ""fetcherror" event w/ HTTP 200 (OK) status code"
[code]
When I use simplecrawler to crawl "http://www.jnto.go.jp/eng/", I met a strange error:
Error #200 (OK) happened when retrieve http://www.jnto.go.jp/eng/pdf/regional/tohoku/fukushima.pdf

'Coz the requested resource is a 16M+ pdf file, I suppose it's a severe internal error, e.g., exceeding the upper boundary of buffer, etc., and the worst thing is that the crawler itself pend crawling since

[2016-02-09 14:04] fredrikekelund commented on #213
Ah yes, you're right - it's supposed to be a `fetchdataerror` event, but I see now that that's only emitted if the initial Content-Length header is smaller than maxResourceSize. Otherwise, a `fetcherror` event is emitted. I'll take a look at fixing it, thanks for reporting!

[2016-02-10 08:57] #213 closed

[2016-02-10 08:58] fredrikekelund commented on #213
I've fixed the issue, please give the latest master a try if you depend on the correct behavior!

[2016-02-10 17:06] tibetty commented on #213
:+1: Thanks for your prompt action, @fredrikekelund !  I believe the issue has been correctly addressed from the changes you made to the new source, however, the website prevents me from reproducing the exactly same behavior maybe because their webmaster found out and blocked my "attacking" attempts, :)

[2016-02-10 21:07] cgiffard commented on #213
Update the userAgent flag and try from a different IP address. Of course, if people are blocking you, it might be that you're flogging the destination website too hard. Consider backing off a little.

[2016-02-10 23:35] tibetty commented on #213
Thank @cgiffard for the advice!  I reran my workload, and encountered a severe issue, will report it out in a separate thread.

[2016-02-10 23:50] tibetty opened #214 "Crawler hangs after several rounds of fetchdataerror"
[code]

Again, I run above code to test simplecrawler, and it got frozen after reporting several errors consecutively and was never restored.

Error #301 (Moved Permanently) happened when retrieve http://www.jnto.go.jp/weather/eng/
Data error happened when retrieve http://www.jnto.go.jp/eng/pdf/regional/tohoku/fukushima.pdf
Data error happened when retrieve http://www.jnto.go.jp/eng/pdf/regional/c

[2016-02-11 07:02] fredrikekelund commented on #214
Thanks for reporting! I think I know what the problem is - I forgot to "close" the queueItem properly. I'll fix it later today!

[2016-02-11 10:51] fredrikekelund commented on #214
@tibetty give it another try and see if it behaves as expected now!

[2016-02-11 13:31] tibetty commented on #208
I tried but the hang-up issue is still there... Really appreciate your quick response though!

[2016-02-11 13:33] fredrikekelund commented on #208
@tibetty do you mean the issue from #214? Would be nice if we could keep that discussion in that thread, you can still comment there, even if the ticket is closed. I'll go ahead and reopen it in any case

[2016-02-11 14:00] tibetty commented on #214
Yup, the new version correctly emits 'fetchdataerror' event but my simple test-suite gets hang up after a few consecutive errors.  Will stick to this old thread afterwards until the issue is totally rooted.

[2016-02-11 14:28] fredrikekelund commented on #214
It seems there are about 5,300 pages on that site (according to Google), excluding all resources like images and JS. Are you sure you're not just missing eg. redirect or timeout events? The crawler might stay silent for a while if you're not listening to all events.

I ran this for 30 minutes without any problems (even though I got 4 fetchdataerrors). Didn't have time to let it run to completion,

[2016-02-12 00:52] tibetty commented on #214
You are right, @fredrikekelund! I intecepted 'fetchstart' last night, and the log showed that simplecrawler worked pretty well, so there might be something wrong with either upstream dependencies (http/request) or the website itself.  Kudos to you!

[2016-02-12 07:00] fredrikekelund commented on #214
Nice to hear! But just to make sure we cracked this, what problem are you still experiencing (the one you say might lay in the website itself)?

[2016-02-13 10:20] #184 closed

[2016-02-13 10:23] fredrikekelund commented on #184
I've pushed a fix for this - when the crawler encounters malformed cookies, it won't add them, and it will emit a "cookieerror" event with the signature (queueItem, error, setCookieHeader). This enabled the developer to do manual work with the cookie as needed.

[2016-02-13 11:19] herkyl commented on #184
Thanks @fredrikekelund

[2016-02-13 16:52] fredrikekelund commented on #114
This ticket is an oldie, but I guess what could solve this use case would be to pass the current queueItem to fetch conditions. With that, I could tell where the resource I'm looking at has been discovered, and filter it based on that. So I set filterByDomain to false, but avoid any resources on the second site that were in fact discovered on the second site.

[2016-02-14 12:26] #190 closed

[2016-02-14 12:29] cgiffard commented on #189
Thanks for reporting — definitely a bug with the way resources are resolved.

[2016-02-14 22:28] tmpfs opened #218 "Publish new version to registry"
Thanks for this project, absolutely awesome.

I was trying to work out why my fetch condition was not getting a second argument and finally worked out that the docs are out of sync with the npm package (I get the second argument with the latest version in git). Can you cut and publish a new version please?

I prefer to avoid git based dependencies wherever possible ;)

[2016-02-14 22:44] tmpfs commented on #214
I am interested in whether this is working correctly with redirects, using `0.6.1` from the registry I got it to work with:

[code]

I believe this functionality should be configurable too (`followRedirects` maybe). Is the above solution ok? Would the above code break when this issue is fixed?

[2016-02-14 22:50] tmpfs opened #219 "Question on status code 599"
I was trying to work out why nothing printed when my service was down and I finally got it by listening for the `fetchdataerror` event, however when an `ECONNREFUSED` error is handled I wonder whether `503 Service Unavailable` would be more appropriate rather than the non-standard 599 status code.

[2016-02-14 22:51] tmpfs commented on #219
Happy to submit a pull request for this, if you agree.

[2016-02-14 23:02] cgiffard commented on #218
This feature only landed a few hours ago — we'll tidy a couple of things up and push one shortly. Sorry for the inconvenience! :)

[2016-02-14 23:07] cgiffard commented on #219
In this instance, 599 is deliberately nonstandard — we've experienced an error internally to the *client*, and we want to make sure it's distinct from a server response.

If we were a proxy communicating via HTTP, I'd agree that 503 would be more appropriate, as we'd be signalling that we received an upstream connection error. But in this case I feel like the error should be distinct (unless you'v

[2016-02-14 23:08] cgiffard commented on #219
That said, it's funny that you got a `fetchdataerror` and not a `fetcherror` in this case. Are you able to put together a small test case demonstrating the problem?

[2016-02-14 23:13] tmpfs commented on #219
I may be wrong about which error event it was, there are a few ;) I'll check.

[2016-02-14 23:16] tmpfs commented on #219
I understand your point of view, but from the wikipedia page on status codes it is not implied that 503 is only for downstream proxy services:

However I see how you would want to distinguish this error from others. I can easily switch 599 to 503 in my code anyhow, or maybe we should treat this as a completely separate error event for the implementation to handle?

[2016-02-14 23:19] tmpfs commented on #219
Sorry my bad, it was actually `fetchclienterror` which I believe is correct semantically.

[2016-02-14 23:20] tmpfs commented on #218
No worries - thanks for being so prompt! :)

[2016-02-14 23:28] tmpfs opened #220 "Different events for 404 and 410"
I think the event name ambiguity is a little misleading (although it is documented in the readme that 410 triggers `fetch404`). I have implemented a quick fix for this to distinguish the event names if you want the pull request?

My rationale is that `fetch404` should not have the `410` event status code bundled in because there are instances when they would need to be handled differently.

My use

[2016-02-14 23:32] tmpfs commented on #220
Clearly, renaming to `notFound` is a breaking change and requires a minor version bump, as does distinguishing event names too (people might already be switching on status code in `fetch404`).

[2016-02-15 00:11] tmpfs opened #221 "Same domain edge case on different ports"
Forgive me for raising so many issues but I have been learning `simplecrawler` these past few days and my knowledge is thin.

I have run into an issue where a domain with a different port is being crawled. This is the same domain that I originally crawled so strictly speaking is correct however I wanted to ask how you think this should be handled.

I am testing my service(s) locally running on `lo

[2016-02-15 00:53] tmpfs commented on #218
FYI, I just worked out how to deploy from travis on tagged commit, need to encrypt your npm API key in the travis config, but it's a real time saver, my config is here:

https://github.com/tmpfs/linkdown/blob/master/.travis.yml

Works like a charm! No more `npm pub` for me :)

[2016-02-15 02:03] tmpfs commented on #221
Tying to work out how I can achieve this, I set `host` to include the port:

[code]

Results in:

[code]

Which appears like a little bug to me that could be fixed. Happy to look into it more if you like?

Maybe when `host` includes a port do not go to other ports on the same domain?

[2016-02-15 03:47] cgiffard commented on #221
In this instance, host is explicitly intended to be a resolvable host not including a port number, and it'd be a bit confusing to add additional logic to parse the port out of it — we do offer auto URL deconstruction via the simple instantiation method.

I definitely feel your pain — these kinds of crawl issues can be a bit frustrating to resolve. What resources get fetched and which ones don't is

[2016-02-15 03:47] #221 closed

[2016-02-15 04:01] cgiffard commented on #220
Good suggestion, and definitely an artefact of simplecrawler's evolution. I'm thinking we could add a `notFound` event which would take both 404s and 410s, but remove the 410 responses from emitting a `fetch404`, which is clearly confusing.

[2016-02-15 04:06] tmpfs commented on #221
No pain, just new to this library so trying to understand how to get what I am looking for :)

I am learning this at the moment, but I feel that `simplecrawler` should be flexible enough for my needs...although I do have more questions on my mind.

I think this is a good philosophy, I hope that my questions don't bother you too much ;)

I'll test the code you posted and let you know. Is it worth h

[2016-02-15 04:12] tmpfs commented on #220
I was thinking it wouldn't hurt to emit `notFound`, `fetch404` and for consistency also emit `fetch410`. That should cover all requirements. I don't think emitting the additional events would impact performance much, this should do the trick:

[code]

[2016-02-15 04:50] tmpfs commented on #221
Ok, so I tried what you posted and that doesn't work as I wish, then I modified it a little for the logic which I think should work and it's nearly there but I have an issue.

So the logic I want to implement could be described as *only fetch from the same domain disallowing other ports on the same domain*.

I store the `host` and `port` for the initial URL then in the fetch condition I compare `u

[2016-02-15 04:56] cgiffard commented on #221
If you could establish an isolated test so we can look into the issue, (and start another issue for it) that'd be enormously helpful! Thanks for your patience. :)

[2016-02-15 05:21] tmpfs commented on #221
Thanks so much, in isolation I get the expected behaviour and I have an idea what might be the culprit, do fetch conditions fire when manually adding to the queue? The code that does not work has this:

[code]

Going to dig a little deeper...

[2016-02-15 05:31] tmpfs commented on #221
Wahoo, success :) My error was not returning the new url but manually adding to the queue!

I changed the redirect to this:

[code]

And the fetch condition test:

[code]

Now works as expected.

As an aside, one thing that jumped out at me testing this is that all events have `queueItem` as the first argument in the signature, whereas fetch conditions buck that trend - would it be worth changing

[2016-02-15 05:54] cgiffard commented on #221
Regarding your style issue — it's an issue of legacy. It'd be nice to change, but up until now, queueItem wasn't passed to fetchConditions and because all the existing code relies on fetchConditions being passed a parsed URL object as the first parameter, we'd be breaking everything if we changed it. :(

It is certainly a consideration for a new API or future release where we flag breaking changes

[2016-02-15 06:18] tmpfs commented on #221
Makes a lot of sense thanks!

Regarding whether manually queuing items should trigger fetch conditions, I expect it is by design, the assumption being that you know what you are doing when manually adding to the queue and can potentially trigger the fetch conditions yourself. Having said that it does feel very counter-intuitive to me ;)

[2016-02-15 06:57] fredrikekelund commented on #221
It's might be easy to trip up on this, but fetch conditions are applied in the `crawler.queueURL` method, which is the standard way of adding URL's, both internally and externally.

And btw, maybe I'm missing something, but why are you re-adding URL's that were redirected?

Like your idea about the order of arguments to fetch conditions!

[2016-02-15 06:58] cgiffard commented on #221
I think we should plan to make a major milestone release with breaking changes, that cleans up the API. (Addressing weird inconsistencies like this.)

[2016-02-15 06:59] cgiffard commented on #221
(And as @fredrikekelund points out — unless these redirect URLs were filtered out by the crawler configuration or fetch conditions, they'll be automatically added to the queue.)

[2016-02-15 07:02] tmpfs commented on #221
In my experience redirects were not being followed, maybe I am missing some code (you guys are moving fast) but that was the only way for me to get redirects to be followed at the moment.

Should redirects be followed by default? Is there something else I should be doing?

[2016-02-15 07:07] fredrikekelund commented on #221
Hmm, I think the source of confusion here might be that the second argument to fetchredirect is the current queueItem, so the URL's you're adding have already been handled. Redirects are handled automatically, but if you need to do something with the target URL for the redirection, look to `response.headers.location` (response being the 3rd argument to the event handler)

[2016-02-15 07:07] cgiffard commented on #219
In this case, `fetchclienterror` always indicates that there was an error making the request, so you can safely handle the 599s in isolation using this event. If you scan the queue independent of the event, you can use the `599` to be able to determine that a particular queue item failed at the client rather than at the server.

Perhaps the 5XX series of errors is not the place to put this, since

[2016-02-15 07:08] fredrikekelund commented on #221
Oops, looks like I might've jumped too quick to conclusions there hehe. Will look into this in a couple of hours, but redirects are handled automatically for sure

[2016-02-15 07:09] cgiffard commented on #221
Redirects may not be being followed if the crawler configuration is filtering them out. That'd be the first thing I'd check. If you think there's a bug processing redirects, please file an issue about that (and it'd be really helpful if you could provide a test case for it!) :)

[2016-02-15 07:15] tmpfs commented on #185
I am working on this right now and would like to start a conversation with you about it.

I started out to fulfill two distinct requirements:

* Validate all HTML5 and XHTML pages in a website with one command
* Dynamically generate a sitemap from the HTML `<meta>` elements

But as I am learning `simplecrawler` I see so much potential, if you would like to take a look at the current code it is her

[2016-02-15 07:18] tmpfs commented on #221
Cool, I'll check it out, likely an error my end but it was one of the first things I noticed when I first started evaluating `simplecrawler`, I hit `google.com` and nothing because they do the regional redirect.

I'll tweak my previous isolation test a little ;)

[2016-02-15 07:22] tmpfs commented on #221
Nothing with this (using latest on master from my fork which I believe is in sync with master here):

[code]

[code]

[code]

Now you know which country I am in :)

Maybe you are following 301 but not handling 302?

[2016-02-15 07:24] cgiffard commented on #185
I feel like there's definitely room for your CLI — since it definitely provides a distinct and useful set of functionality — and the default CLI to exist concurrently.

I'm planning a flexible arrangement with different `reporters` — ways of formatting/outputting data — and an arrangement that uses the node REPL to give you an interface to the crawler as it's running.

I've been busy in the day jo

[2016-02-15 07:29] cgiffard commented on #221
In this case, the reason is that the `google.co.id` is considered a different hostname to the original domain, and so the redirect will get filtered out and won't be added to the queue.

This is a *really, really common* problem people run into, and I think we should consider adding a troubleshooting guide, with this as the first item, haha. :)

[2016-02-15 07:39] tmpfs commented on #221
Thanks for clearing that up! :)

[2016-02-15 07:42] tmpfs commented on #219
Hmm, I'm not totally sure about that. If the server is down how is it a client error? Sure it's a *client request* error but the fault lies with the server.

Personally I would be really keen to stick with the existing standard HTTP response codes that people are familiar with ;)

[2016-02-15 08:02] tmpfs commented on #185
Like it :) Will definitely be checking the source for the progress indicator!

I see what you mean, yours is a low-level interface to the inner workings of `simplecrawler` whilst I am aiming for higher level commands that perform common tasks.

BTW, need to add `colors` to your deps.

[2016-02-15 08:09] fredrikekelund commented on #218
Looks like @cgiffard published a version 0.6.2 with the changes to fetch conditions included :)

[2016-02-15 08:09] #218 closed

[2016-02-15 08:11] tmpfs commented on #221
FYI, I verified this with an isolation test that confirms both 301 and 302 are followed for redirects on the same host :)

I will remove by unnecessary listener and thank you very much for finding my error.

[2016-02-15 08:31] tmpfs commented on #218
Great! I've updated and everything working as expected - thanks!

[2016-02-15 09:35] cgiffard commented on #185
Of course, there's a lot of basic code hygiene that simply hasn't been done to that PR yet. Consider it a rough sketch, not a merge-ready feature. :)

[2016-02-15 10:25] cgiffard commented on #219
Well I think it's important that it's clear from the status code that the error wasn't delivered via HTTP from the destination. If we used 503, say, while it might be semantically correct, we wouldn't be able to determine whether the server returned the 503 or whether we invented it because we couldn't get upstream (even if it's the server's fault.)

I'm inclined to use a non-standard code *purely

[2016-02-15 10:26] cgiffard commented on #218
@fredrikekelund I haven't made a release yet though — doing that now. :)

[2016-02-15 11:51] tmpfs commented on #219
I see that point of view too, your call of course ;)

[2016-02-15 11:56] tmpfs commented on #219
Out of all the options so far and given your feeling for a non-standard code for this scenario, I think maybe the above is the best option: `600`.

I actually checked if `599` was a valid status code just to be sure before I raised this, if people see 600 for sure they know something is up!

[2016-02-15 14:20] fredrikekelund commented on #219
I like your reasoning around the error code, @cgiffard, I agree it would be more confusing if we swapped it out for 503 (or any other valid status code).

But I don't have any objections to changing the status code to 600, it might make things clearer. It's easier to filter based on `status` anyway, so it probably isn't that big of a deal if we were to change the status code

[2016-02-15 14:29] fredrikekelund commented on #220
I think separating the 404's and the 410's sounds like a sound idea! I'm not 100% sure that making 3 events out of 1 feels like the best way to go about this though (but I'm not 100% sure it's the wrong way either). Instinctively I'd probably vote for doing one `fetchnotfound` (404 and 410) and one `fetch404` (just 404).

[2016-02-15 15:23] tmpfs commented on #220
You are correct, three is not the way to go, thinking some more, my preference is `fetch404` and `fetch410`, then when both need to be handled with the same logic:

[code]

Done :)

Incidentally, I believe when a 404/410 is encountered the body of the document is not downloaded, is that correct? If so, how should I go about fetching the body content in this situation?

[2016-02-15 16:51] fredrikekelund commented on #214
@tmpfs did you manage to resolve the issue you were having?

[2016-02-15 20:34] fredrikekelund commented on #220
On second thought, I agree with you, fetch404 and fetch410 seems to be the simplest and most consistent way of going about it. Feel free to submit a PR for it, but since it's a breaking change, I'd argue for us to wait a little before merging it. That way we can aggregate a few breaking changes and then bump the major version number

[2016-02-16 02:03] tmpfs commented on #214
@fredrikekelund, yes I created an isolated test that verifies that 301 and 302 redirects are being followed for the same domain:

https://github.com/tmpfs/linkdown/blob/master/test/standalone/redirect.js

I will edit the above comment to reflect that should not be used.

[2016-02-16 02:12] tmpfs commented on #220
@fredrikekelund, I agree that makes sense. I just need to write a test for the 410 event and then I think the PR can be submitted. Not much to it ;)

[2016-02-16 03:00] tmpfs opened #225 "Code coverage"
Are you guys interested in a PR that adds code coverage? I use `istanbul` and find it is excellent.

This would be a non-breaking change that would be beneficial for everybody.

[2016-02-16 05:22] tmpfs commented on #220
Oops, the answer to my previous question is in the readme:

https://github.com/cgiffard/node-simplecrawler#a-note-about-http-error-conditions

!

[2016-02-16 07:02] fredrikekelund commented on #214
@tmpfs cool! :+1:

[2016-02-16 09:54] cgiffard commented on #225
I used `istanbul` for my library BAS, and worked my way up to a high level of coverage. It was certainly a nice tool to use. Ultimately though, I think the methodology can have problems, and I'd prefer behaviour completeness to code coverage. (Every new feature added should have tests for every behaviour.)

I actually wrote a rough PoC tool to solve some problems with the code coverage methodology

[2016-02-16 14:15] tmpfs commented on #225
I agree with you that asserting on behaviour is the only true test of correctness, however in the past I have found that coverage has helped me to find areas that need testing and sometimes subtle bugs.

It can also help to find behaviours that have yet to be tested - especially error handling behaviour (which is often very difficult to test).

Steamshovel looks very interesting, unfortunately I d

[2016-02-16 14:15] #225 closed

[2016-02-16 23:59] tmpfs opened #226 "Suggestion: newline delimited JSON in freeze/defrost"
This would prevent blocking the process and enable writing progress of the freeze/defrost progress to screen. Could be useful for very large crawls.

Very easy to parse as a stream, would require that freeze/defrost become `async` methods.

[2016-02-17 00:00] tmpfs commented on #226
Oops, `freeze` is already `async`.

[2016-02-17 00:07] tmpfs commented on #226
Good candidate for `setImmediate()`.

[2016-02-17 00:09] tmpfs opened #227 "Deprecate: queue.getLength()"
Just don't see what benefit it adds when I can just test `queue.length`.

[2016-02-17 00:13] cgiffard commented on #226
For large crawls I would definitely recommend using a DB-backed queue (like Redis, for instance.) That way you get persistence without worrying about writing to disk. That said, it can't hurt to preserve the queue in better ways.

[2016-02-17 00:16] cgiffard commented on #227
Definitely don't use `queue.length`, as it's a synchronous method which will prevent the use of DB-backed queues. Instead, use the callback method always. :)

[2016-02-17 00:16] #227 closed

[2016-02-17 00:37] tmpfs commented on #227
Ok, that makes sense - thanks!

Apologies for my lack of understanding ;)

[2016-02-17 01:34] tmpfs commented on #226
Is there are redis backed queue implementation you know of, happy to write one if not, I use redis heavily :)

[2016-02-17 05:25] cgiffard commented on #226
I'm not sure. I did see a mongo backed queue some time ago. :)

https://github.com/lzrski/node-simplecrawler-queue-mongo

[2016-02-17 05:25] cgiffard commented on #226
(In answer to your question — no, I'm not aware of one. I was thinking of writing one but didn't get around to it, haha.)

[2016-02-17 06:03] tmpfs commented on #206
From my point of view cancelling in-flight requests when `stop()` is called should be beyond the scope of `simplecrawler` if an implementor really needs that functionality they could do it by listening for `fetchheaders` and tracking the requests on `fetchcomplete` they could clean the tracked in-flight request, when `stop()` is called abort the in-flight requests.

I have just tested `stop()` and

[2016-02-17 06:06] tmpfs commented on #185
FYI, `linkdown@1.0.10` now supports pausing and resuming crawls using the `TSTP` and `CONT` signals respectively (can't use `STOP` unfortunately).

Works like a charm, thanks @cgiffard and @fredrikekelund :)

[2016-02-18 12:08] fredrikekelund commented on #206
@tmpfs a "crawlstop" event sounds like a good idea, makes a lot of sense to me!

I'm not sure I find it beyond the scope of simplecrawler to stop requests mid-flight. I understand the need for it, and it should be fairly simple to implement. I do however think that there might be a need for the current behavior as well: the developer might want the open requests to be completed before exiting the

[2016-02-18 13:02] tmpfs commented on #206
That sounds fine to me, I think if you add it then it would be useful to me if it were optional, ie, the behaviour remains as it is now and an `abort` parameter can be passed such that the signature becomes:

[code]

As you suggest :)

As an aside, I haven't seen it in the docs but I noticed there is a `crawler.running` boolean, can that be considered public and safe to use? Save me maintaining a

[2016-02-18 13:03] tmpfs commented on #206
Or maybe even cleaner just pass a callback to `stop`:

[code]

There are quite a few events already ;)

[2016-02-18 13:07] tmpfs commented on #185
For the record:

https://github.com/tmpfs/linkdown#credits

:)

Can now also `exec` commands and I am extracting meta data from the HTML pages, should soon have a `tree` command implemented and I will be very close to my goal of automatic sitemap generation :)

[2016-02-18 14:57] dzafel opened #228 "Missing Accept header in request"
I was working with the crawler this morning, tried to crawl a website that is hosted on a Windows machine. Whatever I did the result was always HTTP 500 error, after like an hour I finally found out that the Windows server requires `Accept` header to be set in request, I'm a little surprised that simplecrawler does not set it automatically. I had to add it using:
[code]
Shouldn't it be always set

[2016-02-18 16:18] fredrikekelund commented on #206
I thought about the callback solution, but I'm a bit hesitant towards it, simply because we rely so heavily on events elsewhere. Using a callback seems to break the convention.

I believe the `running` flag is safe to use publicly.

Hmm, could you expand a bit on why you'd want `crawlstop` to fire immediately? To me it seems hard to argue consistency with `crawlstart`, simply because there natural

[2016-02-18 20:55] fredrikekelund commented on #228
Hey, thanks for filing an issue! You're right, we should be including that header by default. I realize now that we should add an Accept-Encoding header as well. I'll look into fixing it as soon as possible!

[2016-02-18 21:04] #228 closed

[2016-02-18 21:06] fredrikekelund commented on #228
@dzafel I've published a fix to master, you can give it a try if you like

[2016-02-18 21:16] fredrikekelund commented on #214
@tibetty I'll close this ticket. If you experience any further issues, don't hesitate to open a new one!

[2016-02-18 21:16] #214 closed

[2016-02-19 11:08] cgiffard opened #229 "Crawl hanging after a number of resources downloaded, still, with 0.6.2"
The issue persists! But now, I have a test case given to me by a coworker. After a little bit of anonymisation, I'll throw it up.

[2016-02-19 11:13] fredrikekelund commented on #229
:sob:

[2016-02-19 12:37] cgiffard commented on #229
My thoughts exactly. I'll chuck the test case up here in a bit. :(

[2016-02-20 05:45] tmpfs commented on #206
@fredrikekelund, you are correct on both points. It does not make sense to use a callback approach when the library uses events primarily. A callback also prevents easily registering multiple functions for the event.

I was stupidly thinking about the flow of my code rather than the best logic for simplecrawler with regard to `crawlstop`; your suggestion feels right to me.

We should also consider

[2016-02-22 07:27] tmpfs commented on #229
Yeh, I noticed this as well, not too sure of the trigger, although I did notice (before I implemented strict same domain matching) that it always seemed to happen when moving to a different domain, ie, it finished crawling one domain, hung for quite a while and then continued processing the other domain.

[2016-02-22 07:36] tmpfs opened #230 "Question: should fetch conditions continue processing when fetch is denied?"
At the moment if appears the current fetch condition logic continues to process fetch conditions even when a fetch has been denied by a previous fetch condition.

I have two fetch conditions, the first is denying the fetch, the second is allowing it, shouldn't the fact that the first fetch condition denied it prevent the second fetch condition from being called?

For me this makes support for mult

[2016-02-22 07:43] tmpfs commented on #230
I think the culprit is here:

https://github.com/cgiffard/node-simplecrawler/blob/59c42fac674ce548d37bf916b6b20b125ed2d03b/lib/crawler.js#L770-L773

When I simplify it to:

[code]

Then the behaviour is as I would expect.

All the current tests pass with this, would you accept a PR for this?

[2016-02-22 08:15] cgiffard commented on #230
Hey, thanks for filing an issue and your PR.

Simplecrawler's strategy is fetch by default and iteratively exclude — and so fetch conditions are exclusive. If you've got five hundred, and one returns false, the resource will not be fetched.

I've always seen early bailout as more of an optimisation issue (and most people don't seen to have particularly complex fetch conditions) than a UX one, so I

[2016-02-22 08:19] cgiffard commented on #230
It also appears that the code /should/ be working for early bailout. Could you provide a test case where it isn't?

[2016-02-22 08:21] tmpfs commented on #230
Sure, I understand.

Well my first fetch condition was so solve the strict cross-domain issue (hopping different ports on the same domain) then I wanted to allow users to filter using a `-p | --pattern` regexp pattern, so I implemented the code and tested it thoroughly.

When I went to add that extra fetch condition my `--pattern` filter fetch condition was returning false (correctly) and the seco

[2016-02-22 08:51] tmpfs commented on #230
Ha, you are correct - again! :)

So, in isolation it worked as expected and it turns out I was getting bitten by the classic RegExp lastIndex issue, not re-compiling the expressions so the tests were returning incorrect values on subsequent iterations!

Solved with `ptn.lastIndex = 0`!

Closing as not an issue, although I do think the `for` iteration is a little more legible and I think would use

[2016-02-22 08:51] #230 closed

[2016-02-22 10:48] fredrikekelund commented on #220
Closing this as #224 was merged

[2016-02-22 10:48] #220 closed

[2016-02-22 12:33] tmpfs commented on #229
I have a couple of possible areas for investigation:

* DNS
* Default number of HTTP agents

I think possibly the second, when making many HTTP client requests many sockets can be left open for quite a while before they are actually closed by the OS, I forget the TCP state they are left in, but I have experienced this *hang* before and the solution was to increase the global `maxAgents`.

I think

[2016-02-22 12:42] tmpfs commented on #229
Ok, super-interesting. Just reproduced this and what I am seeing is the hang at the end of the crawl - however the logs from my database server are printing requests *during* the hang!

Which would indicate to me, as the log output is happening on `fetchcomplete`, that somehow the `fetchcomplete` event is not firing at the correct time or some other timing issue is present.

[2016-02-22 12:48] tmpfs commented on #229
Interestingly the issue is also present with node v4 where they changed the value of `maxSockets` (not `maxAgents` as noted above). But they also added `maxFreeSockets` and set it's value to 256.

I think this is a TCP backlog issue.

[2016-02-22 13:24] tmpfs commented on #229
So far I have determined that:

* Setting `Connection: close` has no impact
* Setting `maxSockets` and `maxFreeSockets` has no impact
* Increasing `/proc/sys/net/ipv4/tcp_max_syn_backlog` has no impact
* That the database server logs during the hang does not appear to be a red herring as the web server also logs requests during the hang
* That the hang I experience is actually *at the end of the c

[2016-02-22 13:54] tmpfs commented on #229
Ok, I don't know about other people's experiences but I just got to the bottom of my problem.

I have a website with a lot of 302 redirects which point to another host:port so they would not be followed which means `fetchcomplete` would never fire for those resources by logging on `fetchredirect` as well as `fetchcomplete` the program does not appear to `hang` - it was never really hanging for any

[2016-02-22 13:55] tmpfs commented on #229
Maybe we need a separate event for *redirect that is not followed*?

[2016-02-22 14:05] tmpfs opened #232 "Strange javascript resources"
Just logging this before I filter them out from my crawl:

[code]

Generated by this file:

https://github.com/eligrey/FileSaver.js/blob/master/FileSaver.js

It appears to me that possibly this is an error with the discover resources logic for javascript files.

[2016-02-22 14:22] fredrikekelund commented on #232
@cgiffard's philosophy has been to keep simplecrawler's discovery mechanism "dumb", with the reasoning that it's better for the crawler to make a few junk requests than for it to miss some stuff. So by default, the `discoverResources` method will pick up some garbage, the idea is to make it easy to replace this logic with more a more advanced discovery function, tailored for the dev's specific nee

[2016-02-22 14:30] tmpfs commented on #232
Thanks, I just got a feel for that from reading the `base href` issue.

Now I have my pattern matching support in place, it's pretty easy for me to ignore these sorts of things without implementing `discoverResources`.

Cheers for the tip on `cheerio`, looks quite nice :)

Closing as expected behaviour.

[2016-02-22 14:41] tmpfs commented on #232
For the record it looks like these patterns:

[code]

For CSS I imagine, I think we could remove the `i` flag and be safe, it then wouldn't match the junk in this issue and I don't know of anyone that uppercases `url()` in CSS files and likely uppercase is invalid CSS anyhow (I would have to check).

What do you think?

[2016-02-22 14:44] tmpfs commented on #232
Spec is quite specific:

https://www.w3.org/TR/CSS2/syndata.html#uri

I know css selectors are case-insensitive but I think we could be safe to remove those `i` flags, @cgiffard - what do you think?

[2016-02-22 14:50] tmpfs commented on #232
Just confirmed that removing the `i` flag does indeed prevent those junk requests.

[2016-02-22 23:07] cgiffard commented on #229
No, the cause is distinctly different — it's not that they're listening to the wrong events, but that the crawl process stops entirely. You can test for this by replacing the `emit` function on the crawler and logging the first argument.

I think an event to show resources that were denied fetching might be useful — `fetchdenied`, etc.

I've been so busy at work that I haven't managed to produce t

[2016-02-23 00:28] cgiffard commented on #232
There are actually lots of inline JS scripts around which have code like `openURL("http://foo/bar.txt")`. That regex is designed to catch those — the philosophy being that overly broad matching (and then filtering) is better than missing resources.

It was fascinating to see the outcome of this philosophy at work when scanning inside binary files (like Microsoft Office documents) actually yielded

[2016-02-23 00:45] tmpfs commented on #232
That's fine with me, thanks for the clarification.

Would it not make sense then for `simplecrawler` to provide some `discoverResources` strategies rather than have developers constantly re-inventing the wheel? These could be external npm packages.

For example, I think my use case is likely the most common, I am only interested in valid links within the HTML and CSS documents.

Question: what wou

[2016-02-23 00:51] tmpfs commented on #232
Or alternatively a separate pattern for the scenario you describe and then expose an API for modifying (adding and deleting) from the default list of patterns?

That would solve this issue for me without the need to write `discoverResources` which seems like overkill for this scenario.

[2016-02-23 00:52] tmpfs commented on #232
Maybe named patterns in an object that is later flattened to an array?

[2016-02-23 01:24] cgiffard commented on #232
Good suggestion, and please feel absolutely welcome to provide a `discoverResources` function that can be published as an external module. Then you could do something as simple as:

[code]

(Or similar.)

[2016-02-27 15:38] fredrikekelund commented on #232
Maybe I'm misunderstanding what you mean here, but the `discoverRegex` array is public and documented, so operating on that array would be the API for modifying the list of discovery patterns :)

`crawler.supportedMimeTypes` and `crawler.downloadUnsupported` can be used to avoid downloading javascript resources. If you'd rather download the files, but not look for resources in them, you could eith

[2016-02-27 15:40] fredrikekelund commented on #208
If you're still having trouble with this, feel free to open a new issue, @perrohunter, but it's not unlikely that the problem doesn't lay with simplecrawler not following redirects (could maybe be due to some header not being sent or something similar - see #228 for a recent fix related to default header)

[2016-02-27 15:40] #208 closed

[2016-02-27 15:46] fredrikekelund commented on #114
The feature I suggested was merged in #217 and released in 0.6.2

[2016-02-27 15:46] #114 closed

[2016-02-27 15:53] fredrikekelund commented on #134
Hi, sorry about the very late response on this one! I haven't worked with NTLM, but from a quick glance at the documentation for node-http-ntlm, it looks like it only needs to set a custom Authorization header, no special HTTP agents or anything. Adding such a header to simplecrawler is easy.

Basically it would look something like this:
[code]

@HaaseIT would this solve your problem?

[2016-02-27 18:57] bendulum opened #235 "Can't get this module to work"
I managed to get this module working but only in simple mode and only once.
All subsequent attempts (simple or advanced as below) did not return anything.
The first attempt, which worked, I aborted half way via the console (ran it via gulp).
I tried a fresh install of the module in a different directory, but to no avail.

[code]
Yields:
[code]
What am I missing?
Could it be that something with the

[2016-02-27 19:04] fredrikekelund commented on #235
When using advanced mode, the constructor takes the host, initial path and initial port as separate arguments. Or you could pass just the host (not including the protocol) and set the `initialPath`, `initialPort` and `initialProtocol` properties individually on the crawler instance before calling the `start` method. See https://github.com/cgiffard/node-simplecrawler/blob/master/README.md#advanced-

[2016-02-27 19:10] bendulum commented on #235
@fredrikekelund Thanks for the quick reply. I updated the code as follows:
[code]
Still getting the same results as before in the console.
[code]
Will this library throw an error in case the host denies the UserAgent string?

[2016-02-27 21:19] cgiffard commented on #235
The problem is that you aren't invoking the advanced mode properly. As @fredrikekelund already pointed out, the signature for establishing an advanced mode crawler is different. Please see the linked documentation.

[2016-02-27 21:19] #235 closed

[2016-02-27 21:21] cgiffard commented on #235
(The way you're passing the URL, simplecrawler is not breaking it down, and is treating the whole thing as the hostname.)

This should work.

[code]

[2016-02-27 21:22] bendulum commented on #235
@cgiffard How embarrassingly stupid of me. Thanks, it works like a charm!

[2016-02-27 21:26] cgiffard commented on #235
No worries. Glad it's working now! :)

[2016-02-27 21:28] #226 closed

[2016-02-27 21:34] cgiffard commented on #232
It's my preference to consider the current code complete for this use case, so I'm closing this issue. Feel free to reopen it if you vehemently disagree. :)

[2016-02-27 21:34] #232 closed

[2016-03-01 18:36] vigneshnrfs opened #236 "Crawl and fetch only resources with content-type"
Hi.

Firstly this is awesome.  I am working on a small project and would like to use this package to only crawl and fetch html files, more specifically with content type text/html.

Is it possible to do this with this package?

[2016-03-01 19:15] fredrikekelund commented on #236
It's indeed possible. Please refer to [the docs](https://github.com/cgiffard/node-simplecrawler/blob/master/README.md#configuring-the-crawler). You want to edit the crawler properties supportedMimeTypes and downloadUnsupported :+1:

[2016-03-01 19:15] #236 closed

[2016-03-03 13:15] mertenhanisch opened #237 "Support srcset"
Since `<picture>` elements use `srcset`, and they are a chore to check and debug, the checking of `srcset` attributes would be helpful.
I think we would only have to improve the `crawler.discoverRegex` to check for `srcset` as well and modify the regex to stop at a whitespace or quote/doublequote, since a `sourceset` can look like this:
`<source srcset="/img/my_img.png 135w">`

[2016-03-03 20:29] liberman08 opened #240 "Crawler exception"
Hi guys,
I've been trying up your crawler. I found out that when I'm trying to crawl this
[link](http://www.amazon.com/Educational-Insights-Sneaky-Snacky-Squirrel/dp/B00486ZVC4%3Fpsc%3D1%26SubscriptionId%3DAKIAJLBZH5H3HZQ5IYDA%26tag%3Driviere-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB00486ZVC4)
neither fetchcomplete event triggers nor any timeout/error/complete event.

[2016-03-04 00:03] Alon-Katz commented on #240
Same here, noticed some amazon links made the crawler not responsive. Hope they get it fixed soon.

[2016-03-04 08:25] fredrikekelund commented on #240
Hi, I tested the link with simplecrawler 0.6.2 and didn't have any trouble with it. Could you share the code you're using so I can see if there's something weird going on there?

[2016-03-04 13:15] liberman08 commented on #240
That's my code
`var crawler = new Crawler("www.amazon.com", "http://www.amazon.com/Educational-Insights-Sneaky-Snacky-Squirrel/dp/B00486ZVC4%3Fpsc%3D1%26SubscriptionId%3DAKIAJLBZH5H3HZQ5IYDA%26tag%3Driviere-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB00486ZVC4");
crawler.maxConcurrency = 1;
crawler.maxDepth = 2;
crawler.decodeResponses = true;
crawler.on("fetchclienterr

[2016-03-05 16:53] fredrikekelund commented on #240
It looks like you're passing the entire URL instead of just the pathname as the second argument to the constructor. Try changing it to `/Educational-Insights-Sneaky-Snacky-Squirrel/dp/B00486ZVC4%3Fpsc%3D1%26SubscriptionId%3DAKIAJLBZH5H3HZQ5IYDA%26tag%3Driviere-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB00486ZVC4` and see if that helps

[2016-03-05 18:34] liberman08 commented on #240
First of all thanks for all the help.
I've tried to send the path as you said but nothing has changed.
I also forogt to mention that I'm working with this library a lot and 99% of the links works fine. I'm always passing the entire url and not just the path as the second param - always works except some links like this one.
Is there any other way we can handle it? In our current state some of the

[2016-03-07 16:33] dzafel opened #241 "Remove port from Host header"
I think `Host` header shouldn't include a port number, I have issues crawling websites on custom https servers, like Zope/ZServer - they just don't allow port number to be in `Host` header. I'm talking about this line: https://github.com/cgiffard/node-simplecrawler/blob/master/lib/crawler.js#L878 I checked how browsers do this and I can't find any that appends port number to `Host` header, so I'm

[2016-03-07 17:28] moshewe opened #242 "Can't crawl petflow.com"
Hi all,

I'm trying to crawl petflow, specifically [minichunks](https://www.petflow.com/product/iams/iams-proactive-health-adult-minichunks-dry-dog-food). I turned on all event listeners, and all I'm getting is crawl started, then queuing my url, then started fetch - and from then on an endless stream of `complete` events.

First site I've had any trouble crawling... At first, I thought it's the u

[2016-03-07 20:50] cgiffard commented on #242
That's the first I've heard of such a behaviour. How are you instantiating the crawler?

[2016-03-07 20:51] cgiffard commented on #241
Good catch. Easy to pull off!

[2016-03-07 21:18] moshewe commented on #242
This is the exact code:

    var target = 'http://www.belk.com/AST/Main/Belk_Primary/PRD~8100331SIGNA8328T4/Le+Creuset+Signature+5+qt++Oval+French+Oven.jsp'

    var crawler = Crawler.crawl(target);
    crawler.decodeResponses = true;
    crawler.maxDepth = 1
    /*event listeners*/
    crawler.start();

I'll next try to `Crawler.crawl(target)`. I thought both of these instantiations would be iden

[2016-03-08 10:51] fredrikekelund commented on #242
It looks like you're starting the crawler twice, which would register two intervals that trigger new page fetches. Since only the ID of the first interval is saved, when the crawler has completed and that interval is cleared, there will still be another one asking the crawler to fetch new pages, and the crawler will respond with emitting a complete event since there aren't any new pages to fetch.

[2016-03-08 10:51] #242 closed

[2016-03-08 10:52] fredrikekelund opened #243 "Make start method do nothing if crawler is running"
This caused two crawler intervals to be registered in the #242 case. It makes sense to provide some protection against this.

[2016-03-08 10:55] fredrikekelund commented on #134
Closing this ticket for now since I believe the solution outlined above to lay out a good path for solving this. However, since I haven't worked with NTLM I might be wrong, let me know if that's the case @HaaseIT!

[2016-03-08 10:55] #134 closed

[2016-03-08 10:57] fredrikekelund commented on #240
I got a few `fetchredirect` as the first events I encountered when trying to crawl this page. It seems you're using a pretty shallow `maxDepth`, what happens if you remove that?

[2016-03-08 12:06] moshewe commented on #242
Thanks! It worked for me until now, that's why I was so confused!

[2016-03-08 12:59] liberman08 commented on #240
Thanks!! it really solved it

[2016-03-08 13:12] fredrikekelund commented on #240
Glad you got it working :+1: By the way, if the crawler indeed encounters a fatal error, that error will propagate and you'll se an error message in your console. If no error shows up, the problem is likely to be something else

[2016-03-08 13:12] #240 closed

[2016-03-09 16:35] moshewe opened #244 "Integrating PhantomJS"
Hi,

I need to crawl something via phantom (in order to scrape some data loaded dynamically). I was looking at the code, trying to see how to do that - the example is a sort of hack, rather than integration into the common mechanism.

I think the best course of action would be to implement a `PhantomClient` which will mimic `http`/`https` in the interface used by the crawler. Passing a custom clie

[2016-03-10 11:02] fredrikekelund commented on #244
This sounds like a very cool solution! I think we could attach `http` and `https` modules to `crawler.httpClient` and `crawler.httpsClient` and let developers replace them as they like, it's a small change.

It would be great if you could submit a PR for this (maybe including a test to make sure that the choice of client is respected).

Do you think you could implement an `http` interface for Phan

[2016-03-10 11:36] fredrikekelund opened #245 "Test regression on Windows due to #234"
See #234. Use `localhost` domain instead of `0.0.0.0` and complete the test on `fetchstart` event (which makes the fate of the request more or less irrelevant anyway).

[2016-03-10 11:38] XhmikosR commented on #245
BTW, we can add Windows testing; just add Appveyor to this repo either you or @cgiffard and ping me to push a test branch.

[2016-03-10 11:41] moshewe commented on #244
I've already forked the repo in order to add this, but I'm in the experimentation phase right now - trying to convert the hack to use a modern node-phantom bridge, specifically `phridge`.

Once I have that rolling I'll try to further refine the interface to actually work like a regular `http` bit by bit as my current work project demands more of the crawler.

[2016-03-10 11:42] XhmikosR commented on #245
In fact I just [pushed](https://github.com/cgiffard/node-simplecrawler/tree/appveyor) the needed changes. Only thing left is for @cgiffard to add AppVeyor.

[2016-03-10 13:09] cgiffard commented on #245
Ready as soon as you're ready to merge it! Thanks for the suggestion.

[![Build status](https://ci.appveyor.com/api/projects/status/9k8bbh2h0l215mkp/branch/master?svg=true)](https://ci.appveyor.com/project/cgiffard/node-simplecrawler/branch/master)

[2016-03-10 13:14] XhmikosR commented on #245
@cgiffard: done, pushed to master.

[2016-03-10 13:18] cgiffard commented on #245
Looks like it's working great, thanks @XhmikosR!

[2016-03-10 21:56] VFe commented on #244
I've been using simple crawler in a project I'm on and have already run into cases where this feature would be tremendously helpful. So big thumbs up here.

[2016-03-10 22:47] Voronchuk commented on #229
Any progress on this one?

[2016-03-10 23:23] cgiffard commented on #229
Weirdly enough, the issue happens on my colleague's computer but not mine. We've been busy so only got a chance to look at it yesterday, but it seems like there's a bug where the number of open requests exceeds the defined level of concurrency, somehow.

[code]

No further events of any kind were emitted.

This is the debugging code I had my colleague throw in his crawler to work out what was goin

[2016-03-11 10:36] #237 closed

[2016-03-11 10:41] #245 closed

[2016-03-11 10:52] #243 closed

[2016-03-11 11:04] #241 closed

[2016-03-11 11:04] fredrikekelund commented on #241
I've pushed a fix for this, would you like to give the latest master a try and see if it helps, @dzafel?

[2016-03-14 20:22] greggman opened #247 "Option (or bug), should not crawl escaped HTML"
Let's say I'm crawling a site of docs. In the HTML for the docs I have

      &lt;a href=&quot;#notexistbutshouldntmatter&quot;&gt;&lt;/a&gt;

As it is simplecrawler will try to crawl that (and of course fail).

Is the the intended behavior?

[2016-03-15 07:54] fredrikekelund commented on #247
Kind of, yes. There are a lot of scenarios to account for when looking for resources in a page, and simplecrawler has chosen to use a rather dumb catch-everything approach for its default discovery mechanism.

The discovery mechanism is almost **intended** to be augmented, and it is common to use something like [cheerio](https://npmjs.com/cheerio) to parse pages into a DOM-like structure where you

[2016-03-15 07:54] #247 closed

[2016-03-15 10:08] cgiffard commented on #247
What @fredrikekelund said. :)

But it might be worth translating HTML entities into their URI-safe versions in future. And sorry about the ambiguity — I really should've added better docs in the first place. Maybe adding an FAQ.md, or TROUBLESHOOTING.md. :)

[2016-03-15 11:41] cgiffard opened #248 "Troubleshooting Guide/FAQ"
A lot of the same mistakes and questions keep cropping up repeatedly, and I think we should add a troubleshooting guide.

The big ones in my mind are:

* People wondering why the crawl is throwing complete without fetching any resources (usually it's that the first hit is a redirect to a domain not covered by the whitelist.)
* People wondering why the crawler picks up crappy URLs
* People confused

[2016-03-15 11:52] cgiffard commented on #131
I feel like this issue has been addressed by #217 — are we good to close, or am I mistaken?

[2016-03-15 12:40] fredrikekelund commented on #131
You're probably right @cgiffard, I'll close this and open a separate issue for the download conditions idea

[2016-03-15 12:40] #131 closed

[2016-03-15 12:44] fredrikekelund opened #249 "Add a concept of download conditions"
In addition to fetch conditions, a powerful addition would be a flexible system for determining whether or not to fetch the body of a certain resource. I think we could call this concept download conditions.

The idea is similar to fetch conditions, you register handlers that are executed once the headers for a particular resource have been fetched. You the developer are free to synchronously eval

[2016-03-15 16:58] greggman commented on #247
When you say "use something like cheerio to parse pages into a DOM like structure" are you saying that I should first parse a page using cheerio, then get cheerio's output and pass that to simplecrawler?

I guess what I'm asking is how to stop the false positives? I'm trying to scan my docs for broken links but it's reporting links from the sample code which aren't actually links.

So what's the r

[2016-03-15 21:35] cgiffard commented on #247
It's hard to optimise the discovery mechanism for every use case — a broken link checker wants as few false positives as possible, but a site archiver wants to get as much as possible, even extracting content from binary files, and the cost of false positives is low.

So we try to get everything, and offer some key places to tweak the algorithm. [The inbuilt discovery function simply uses a list o

[2016-03-16 12:17] fredrikekelund commented on #96
I'm looking to see whether this is still reproducable later this week. Just wanted to check if you know that something cookie related has changed since this issue was reported, @cgiffard?

[2016-03-17 15:15] hristod opened #250 "Use node-simplecrawler client-side, in the browser"
Is it possible? Can I use node-simplecrawler with browserify or Webpack on the client side? I'd like to use the users to crawl the websites and pass the data to a server ...

[2016-03-17 20:22] fredrikekelund commented on #250
I haven't actually tried using simplecrawler on the client, but even though it should be technically possible - there are no disk writes per default, and the HTTP requests should be translatable to XHR requests - it is likely to fail for most sites since browser CORS policies will prevent XHR requests from one domain to another unless explicitly allowed by the server. Of course, that doesn't apply

[2016-03-18 02:14] tmpfs commented on #232
No worries for me, I'll implement `discoverResources` (later). Thanks for your time.

[2016-03-18 03:23] raintears opened #251 "Inject some code before fetching and after fetching resource"
Hi, is it possible to inject some code before fetching and after fetching resource? Also, I need to queue url as and when i need to. Is that possible with node-simplecrawler?

[2016-03-18 06:27] fredrikekelund commented on #251
Manually queueing URL's is done with the crawler.queueURL method. This is [documented in the README](https://github.com/cgiffard/node-simplecrawler/blob/master/README.md#adding-to-the-queue).

As for the injecting code before and after fetches, I'm not sure what you mean exactly, but simplecrawler fires a lot of different events for each page fetch. They let the developer eg. get the response body

[2016-03-18 09:40] fredrikekelund commented on #153
#212 has been merged and this feature is now in the latest master. We're looking at including this in a 1.0 release, which is still a few weeks away, but hopefully won't take too long to complete.

[2016-03-18 09:40] #153 closed

[2016-03-18 22:59] #248 closed

[2016-03-19 22:58] fredrikekelund opened #253 "Make queue methods only async"
Even though the operations in the default queue methods are actually synchronous, the API is meant to be compatible with different queue backing stores that can perform async operations in those methods.

[2016-03-22 10:11] fredrikekelund commented on #251
The [README](https://github.com/cgiffard/node-simplecrawler/blob/master/README.md#manually-adding-to-the-queue) was recently updated and should hopefully be a bit clearer with regards to how URL's can be added manually.

The [documentation for events](https://github.com/cgiffard/node-simplecrawler#events) should hopefully guide you in the right direction regarding the injecting of code.

Let us kn

[2016-03-22 10:11] #251 closed

[2016-03-22 12:10] cgiffard commented on #96
I don't recall having changed anything — cookie logic has been fairly static.

[2016-03-22 14:34] fredrikekelund commented on #96
I had an initial look into this and couldn't reproduce it. Would still like to confirm (because I ran into some other issue), but most likely this bug is no longer present

[2016-03-22 21:26] nicholasblexrud opened #254 "Can simplecralwer provide resource received information for each crawled page?"
I'm looking to crawl a website and view the resources (img, js, css) to see if they have successfully loaded. Specifically, I'm trying to crawl a website and check to see what Google Analytics tags are on each page and to see if they are firing correctly.

Casper.js has an [`onResourceReceived`](http://docs.casperjs.org/en/latest/modules/casper.html#onresourcereceived) event that I hoping simplecr

[2016-03-23 12:10] cgiffard commented on #96
Do you think we should close this for now, then?

[2016-03-23 23:21] nicholasblexrud commented on #244
+1

[2016-03-24 07:31] fredrikekelund commented on #254
simplecrawler doesn't differentiate between pages and resources, everything it fetches is treated equally (fires all the same events and is searched for new resources). You can write your own discovery function, though, for example one that only finds resources specified in the href's of `<a`

[2016-03-24 07:32] fredrikekelund commented on #254
Sorry about that, submitted too early, there's more stuff coming!

[2016-03-24 07:39] fredrikekelund commented on #96
I'll spend some time on this tonight just to confirm!

[2016-03-24 07:44] fredrikekelund commented on #187
Sorry about the very tardy response on this one! My only concern is how this works if resources are queued manually - is it a problem if the queue depth "starts over"? Or maybe we shouldn't be concerned about that, since it's just a natural consequence of how the crawler works

[2016-03-24 16:52] nicholasblexrud commented on #254
@fredrikekelund, thanks for the response. I guess my case is a bit more unique in that some of the google analytics requests are within google tag manger or tealium, meaning there isn't any ga code on the page itself. What I'm really looking for are the resources loaded on each page (like chrome's network tab), this would allow me to then filter received request (like casper.js above) by google-an

[2016-03-24 20:42] fredrikekelund commented on #254
Ah, I see. You're right that simplecrawler doesn't load a DOM for any of the resources it fetches. Something like the cheerio module could provide that, but it seems like you would need a complete browser environment - not just the DOM - to make the requests for scripts and execute them etc, so PhantomJS or some wrapper (like CasperJS) is necessary.

simplecrawler can work together with PhantomJS,

[2016-03-24 21:11] fredrikekelund commented on #96
Closing this since I confirmed that simplecrawler indeed deals with cookies correctly.

[2016-03-24 21:11] #96 closed

[2016-03-25 00:16] cgiffard commented on #187
The crawler could be crawling any number of depths concurrently — there isn't a single depth level. I'm not sure what the utility of this would be.

[2016-03-26 07:28] cgiffard commented on #250
Sounds like a fun project — I'm curious to know what the outcome is!

[2016-03-28 07:44] hristod commented on #250
@fredrikekelund I didn't think about the type of requests being different, which does change things... I will have to find another way to do what I wanted to... What I was trying to do was use the clients as scraping agents instead of scraping everything from the server... There are other options - like proxies - but this looked like a very good idea - outsourcing some of the work to the client an

[2016-03-28 16:45] nicholasblexrud commented on #254
Figured it would be a custom solution. Appreciate your help @fredrikekelund!

[2016-03-28 16:45] #254 closed

[2016-03-28 21:01] robinparisi commented on #47
Hi,

I first considered opening a new issue then I found this one and I think it's related.
I'm currently experimenting on node-simplecrawler and try to determine if a page is compressed with gzip. Since 'Accept-Encoding' doesn't seem to be passed into headers (even if I have found this [issue](https://github.com/cgiffard/node-simplecrawler/issues/228)), I passed it by setting a custom header:

`c

[2016-03-29 07:09] fredrikekelund opened #257 "Asynchronously save queue items"
Building on #253, I'd like to look into how we mutate queue items. Currently it's all done synchronously, and I'd like to save them asynchronously after they're mutated, perhaps via an upsert method on the queue that takes two arguments, `id` and a `queueItem`. With this, we'd truly enable different queue backing stores, and even make it really easy to run the crawler in a distributed fashion.

[2016-03-29 07:15] fredrikekelund commented on #47
Hi, thanks for reporting the issue @robinparisi! I think the cause of your problem might be that the change hasn't been released yet. The Accept-Encoding header is [set by default](https://github.com/cgiffard/node-simplecrawler/blob/master/lib/crawler.js#L384) in the latest `master`, but it's not in the 0.6.2 version.

We're looking at releasing 1.0.0 next, so we want to aggregate a good set of ch

[2016-03-29 07:18] fredrikekelund opened #258 "Update code inline docs to JSDoc style"
I don't know if what we're currently using has a formalized standard, but I think it'd be good to keep more documentation in the code, and possibly it'd be good to be able to automatically generate documentation from it as well, in which case something like JSDoc might be a good candidate.

[2016-03-29 07:19] fredrikekelund commented on #4
Is this still applicaple @cgiffard?

[2016-03-29 13:10] cgiffard commented on #4
The cache /is/ a pile of crap, and it would be nice to make it not a pile of crap, haha. :P

It's kinda sad how long I've let this one linger. *hangs head in shame*

[2016-03-29 13:10] cgiffard commented on #4
It would be nice if the cache tied in with etags, though perhaps that's a different issue.

[2016-03-29 13:11] cgiffard commented on #258
The standard is currently TomDoc, which I like. I'm happy to use JSDoc, but if we can get a TomDoc linter, sticking with TomDoc would be *my* personal preference, since to my eye it looks nicer when you're reading the code. But happy to hear counterpoints to that. :)

[2016-03-29 13:12] fredrikekelund commented on #4
Haha I see.. I haven't actually used the cache, so I haven't seen how bad it is. Can we use a third party module for help with this?

[2016-03-29 13:12] cgiffard commented on #258
In my most recent project I used ngdocs, but found that the formal documentation wasn't hugely useful. Perhaps here it'll be better to be able to autogenerate API docs.

[2016-03-29 13:13] cgiffard commented on #257
Good point — and something I'd previously missed. If we can make this work without complicating the queue interface, we're in a good position.

[2016-03-29 13:16] fredrikekelund commented on #257
I think so too, it struck me how easy it would be to run simplecrawler in a cluster if we had this.

And I don't think this would necessarily complicate the queue interface, but I do think Promises could provide a real benefit here. What are your thoughts on bringing in a dependency like Bluebird?

[2016-03-29 20:59] cgiffard commented on #257
Yeah, the intention behind a DB-backed queue was actually so you could run simplecrawler in a cluster. My preference with dependencies is actually to keep things really lean, and let consumers of the API wrap their code in promises if they want it — keeping callbacks underneath.

But, I think it would be easier to make the decision if we first identified all the code which is mutating the queue, a

[2016-03-29 20:59] cgiffard commented on #4
Cache manager has been good, but it's really solving a different problem to the one we're trying to manage here. I think cleaning up the API based on a reference implementation might be a good way to work — I'll try make a redis-backed backed cache at some point soon, and might have some thoughts.

[2016-03-31 10:44] fredrikekelund opened #259 "0.7.0 release"
Since 1.0.0 is probably still a month or so away, I'd like to release a 0.6.3 ASAP. For this relase, I'd like us to include:
* #246
* #234
* #228
* #241

I'm considering #224 as well, but since it's technically API breaking (although in a really minor way), it might make sense to hold off on that one.

[2016-03-31 10:45] fredrikekelund commented on #187
@rolfen do you have an example of when this could be useful as opposed to just reading the depth in `fetchcomplete`?

[2016-03-31 10:59] fredrikekelund commented on #258
Ah, I see - well TomDoc looks pretty nice, I didn't realize the comments followed a formal standard. The best module I found for parsing TomDoc comments seems to be [biscotto](https://www.npmjs.com/package/biscotto), but that's unmaintained and only supports CoffeeScript. There's a ticket where JS support has been asked for: https://github.com/gjtorikian/biscotto/issues/47, but it looks like bisco

[2016-03-31 11:00] fredrikekelund commented on #257
Alright, I can sympathise with that. I'll see if I have time this weekend to bang out an initial implementation!

[2016-03-31 11:04] fredrikekelund commented on #91
I think we should add an FAQ item to the README about crawling sites that require a login to solve this issue.

My proposed solution would that the developer firstly makes a POST request to the login endpoint (using either the http module directly, or something like [request](https://npmjs.com/package/request)), and then manually adds the cookie returned in the server's response to simplecrawler c

[2016-03-31 11:05] fredrikekelund commented on #169
Nag nag, @cgiffard  :wink: You think part of this can be addressed by adding [issue and PR templates](https://github.com/blog/2111-issue-and-pull-request-templates)?

[2016-03-31 11:07] cgiffard commented on #91
Yeah, crawling with POST requests doesn't seem practical to me. But the ability to make a post request in the context of the crawler (to log in, etc.) seems sensible. Perhaps we should expose a `crawler.post` function, which takes a URL and a payload?

(Just a thought. The counterpoint to that, is of course, the additional complexity incurred, for not much additional utility.)

[2016-03-31 11:09] cgiffard commented on #169
I think we could add part of it like that, and the other part should be a nice, clear CONTRIBUTING.md with a link from the readme. :)

[2016-03-31 11:11] fredrikekelund commented on #91
It could of course be useful for developers to not have to use a separate module to do this, but I'm a bit skeptic right off the bat. If we were to add a method like that, do you think we could rely on the normal fetch events for passing the response back to the dev?

Might make more sense if we renamed `crawler.fetchQueueItem` `crawler.get` instead, and both of them would fire the same events etc

[2016-03-31 11:12] cgiffard commented on #259
I think, let's call it 0.7 and include #224. :)

Ideally we shouldn't have to muck around building from release branches, or unmerging stuff (etc.) in order to cut a release (if it's not stable we shouldn't merge it in the first place, haha.)

[2016-03-31 11:14] fredrikekelund commented on #259
Alright, cool! :+1:

Sure, but I think in this case it's the mixing of breaking and non-breaking API changes that's the main hassle, not the stability of the stuff that's been merged

[2016-03-31 11:22] cgiffard commented on #259
I figure a minor release is appropriate for a minor breaking change. The others are definitely patches. :)

[2016-03-31 11:26] cgiffard commented on #91
I'd be inclined to leave it as an auxiliary method for now. I think let's keep it as a thought exercise for post-V1, but I think it needs architectural fleshing out before we run off and add it.

[2016-03-31 12:41] fredrikekelund commented on #91
Alright, let's add a FAQ item to the README for now then and close this ticket once that's done

[2016-04-01 01:19] robinparisi commented on #47
@fredrikekelund Thanks for the answer! I'm trying the latest version and just have one question. How do you plan to handle the response buffer when the page respond with gzip? Will buffer will be automatically unzip or we will need to do this manually?

[2016-04-01 05:32] fredrikekelund commented on #47
Responses that are compressed are supposed to be extracted automatically. Keep in mind that if you get strange results from calling `toString` on the response buffer, that could also be due to the response encoding. Try setting `crawler.decodeResponses` to true to get back a string that's decoded based on the response's charset

[2016-04-01 10:38] robinparisi commented on #47
When I set crawler.decodeResponses to true and use toString, I get the strange result. But if I set decodeResponses to false with the code below inside the fetchcomplete event, then I get the correct string :

[code]

[2016-04-01 10:58] fredrikekelund commented on #47
If you are using the latest `master ` and are certain that you are getting response buffers in the fetchcomplete event that are compressed, then that's likely a bug.

decodeResponses will make it so that the fetchcomplete event gets a string instead of a buffer, FYI. And it's not related to decompression, but to character decoding.

If your responses aren't automatically decompressed and the probl

[2016-04-01 13:36] robinparisi opened #260 "Can't convert response buffer to a string when response is gzipped"
I'm trying to convert the response buffer to a string but it seems that when response is gzipped, simplecrawler can't decode it.

Here is my playground:

[code]

When I remove 'accept-encoding' to enable gzip, I get this :

![capture d ecran 2016-04-01 a 15 25 42](https://cloud.githubusercontent.com/assets/570975/14208114/06ac064e-f81e-11e5-9fd6-cf991405cee1.png)

I've tried with multiples website

[2016-04-01 13:45] robinparisi commented on #47
After some testing, I can't find the problem.

I've just opened this issue https://github.com/cgiffard/node-simplecrawler/issues/260

I hope I haven't done anything wrong since it's my first project with node.

[2016-04-01 14:06] fredrikekelund commented on #260
Thanks for the detailed test case! I'll have a look

[2016-04-01 14:53] fredrikekelund commented on #260
I think I found the culprit, and you're absolutely right that the response isn't decoded before it's emitted in the fetchcomplete event! This problem probably hasn't come up before since we haven't included the Accept-Encoding header by default until just recently. I'll submit a fix for this during the weekend! Keep an eye on #259 for the next release due before 1.0.0

[2016-04-01 15:02] robinparisi commented on #260
Thanks! I'll definitely keep an eye on the next release :)

[2016-04-01 15:13] cogentParadigm commented on #229
For me it seems to be consistently stopping at URLs that return a 404. I blacklist the URL in a fetch condition and then crawl again and it goes further until it reaches a few more 404s.

[2016-04-01 23:14] cgiffard commented on #229
@cogentParadigm Would you mind adding the debug code above and posting the output?

[2016-04-02 04:41] cogentParadigm commented on #229
Here is the output. It hangs at the end of this. I have maxConcurrency set to 1. If I now exclude the URL near the end which returned a 404, I will be able to continue past this point.

[code]

[2016-04-02 12:35] fredrikekelund commented on #259
Let's consider #261 for this as well

[2016-04-02 16:07] fredrikekelund commented on #229
@cogentParadigm do you want to try again with the latest `master`? I've pushed a fix that should make the crawler more diligent in destroying response sockets when encountering 404's. I'm not sure that's linked to this issue, but I've previously had trouble with crawls hanging due to encountering too many disallowed Content-Types (see #201), could be that this change would help this problem.

[2016-04-02 17:56] cogentParadigm commented on #229
@fredrikekelund it looks like that worked. Thank you

[2016-04-02 19:46] fredrikekelund commented on #229
Great to hear :) Not sure if this solves your issue, @cgiffard, but I was kind of worried this would be a never ending bug hunt. With a bit of luck maybe we can close this pretty soon, then

[2016-04-02 23:14] cgiffard commented on #229
I'll get my guy to check again. Thanks @fredrikekelund :)

[2016-04-03 04:17] cgiffard commented on #259
Broadly agree — gimme a sec to review your hard work on #261 and we can cut a release. :)

[2016-04-04 21:44] prowley opened #263 "uri paths are lowercased before being stored in FetchQueue"
FetchQueue.prototype.exists and possibly other places has this code:

`var url = (protocol + "://" + domain + port + path).toLowerCase();
`
This lowercases the path which may contain case-sensitive data, not a huge issue but on the scale of the internet, it is out there waiting to bite.

[2016-04-04 21:48] cgiffard commented on #263
Good catch!

[2016-04-04 22:00] cgiffard commented on #263
I'm struggling to think why I did that. Guess there was some original purpose-specific thing when I first wrote the crawler. Either way — bug!

[2016-04-05 15:14] hbakhtiyor opened #264 "error during crawling site"
i got error during crawling http://afscanada.org/ site, i used your example with some changes

[code]

[code]

[code]

node version: `v0.12.4`

[2016-04-05 16:01] hbakhtiyor opened #265 "how to not count maxDepth for redirects?"
i set `maxDepth` to 2, and want to fetch 2 pages,
but redirections counting the `maxDepth`

e.g. `example.org` redirect to `www.example.org`
       `example.org/path` redirect to `www.example.org/path/`

any ideas how to not count?

[2016-04-05 16:04] hbakhtiyor opened #266 "only fetch html content without any resources"
i want only fetch html content without any resources, like js, css, images, pdf, ....
how to do?

[2016-04-05 16:52] hbakhtiyor commented on #264
ah, fixed, problem was in your snippet of code
the `map` callback signature is `index, element` and `element` equal to `this` inside callback.
also `map` return their own object, not array

final result is
[code]

[2016-04-05 16:52] #264 closed

[2016-04-05 18:44] fredrikekelund commented on #266
First, set `crawler.supportedMimeTypes=["text/html"]`, then set `crawler.downloadUnsupported=false`. You can also write a fetch conditions that prevents URL's that end in eg. ".jpg", ".css", ".js", ".pdf" or ".png" in order to not even try and fetch those URL's (for resources that are discarded based on mimetypes, the crawler still has to fetch headers to determine what mimetype it's about to rece

[2016-04-05 18:44] #266 closed

[2016-04-06 02:21] hbakhtiyor commented on #266
thanks,

btw, `supportedMimeTypes` option accepts regex object, also need to accept string too, it will be more flexible.

[2016-04-06 03:01] cgiffard commented on #266
You match anything with a regex you can match with a string. :)

[2016-04-06 05:57] hbakhtiyor opened #269 "how to add a collection of websites to crawling"
need to add a list of websites for start crawling
e.g. example.com, foo.org, bar.com, ...
how to achieve this? need to initialize crawler for each website?

[2016-04-06 14:15] hbakhtiyor commented on #265
any ideas? :confused:

[2016-04-06 14:22] robinparisi commented on #265
Hi @hbakhtiyor,

It seems that this pull request (https://github.com/cgiffard/node-simplecrawler/pull/255) can fix your issue.

[2016-04-06 15:21] hbakhtiyor commented on #265
hi @robinparisi, thanks,

any plan to merge it?

[2016-04-06 15:31] robinparisi commented on #265
I'm not one of the maintainers but the pull request doesn't have tests so I don't think it will be merged in that state.

[2016-04-06 21:54] fredrikekelund commented on #265
How to solve this really depends a lot on your specific situation. If all requests are redirected to a www subdomain, then you might want to either make that domain the initial one, or make use of the `crawler.ignoreWWWDomain` or `crawler.stripWWWDomain` options in a way that's suitable for your specific case.

If you need a more dynamic way of determining what resources are below the maximum dept

[2016-04-07 17:05] thejoshcrawford commented on #265
@hbakhtiyor I just added some tests to it should be on the way to a merge.

[2016-04-07 17:11] fredrikekelund commented on #269
It depends on how you want to crawl them. If all you're looking to do is to crawl a couple of websites, where the crawls aren't really related, I would advise you to spin up separate instances of simplecrawler.

If you want to allow more than one domain in a single crawl, you can make use of `crawler.domainWhitelist` (see README for more details)

[2016-04-07 17:11] #269 closed

[2016-04-07 22:27] patrickhulce commented on #244
+1

[2016-04-09 22:42] thecameronjones opened #270 "Crawler hangs right before the end of the article"
I am using this software to crawl Wikipedia as a test. The repository with my code can be seen [here](https://github.com/thecameronjones/crawler). I am using a crawler depth of 2 so it will only read the articles linked to the main one initially specified. Right before it finishes reading the end of the initial article, it will hang and the `complete` event won't fire. Also, there will still be a

[2016-04-10 05:38] fredrikekelund commented on #270
It looks like you forgot to call toString on the buffer [here](https://github.com/thecameronjones/crawler/blob/master/app.js#L31). Also keep in mind that if you load the response body as a cheerio instance twice and modify one of them, that won't affect the other instance. You can load it once and attach the instance to the current queueItem to be able to pass it between event listeners and discov

[2016-04-10 05:59] thecameronjones commented on #270
Thanks for the reply. Calling `toString` does not seem to solve the problem. It still hangs a couple links before it's supposed to stop. Also, as I am a novice using cheerio (the jquery-like format) and optimizing memory usage in code, could you be _more_ specific about what you mentioned? Although the primary issue is still the crawler hanging. @fredrikekelund

[2016-04-10 06:17] cgiffard commented on #270
Hey! Would you mind adding this code to your crawler and letting me know what the output is? Often, the crawler might be doing something else that you won't see if you're only listening to `fetchcomplete`. (For now I can't rule out that it isn't a bug, but the output of this would help there too.)

[code]

(@frederikekelund I should add this to the troubleshooting section in the readme.)

[2016-04-10 06:20] thecameronjones commented on #270
Would you like me to paste it into a file and send it to you? The output will be **very very very** long... @cgiffard

[2016-04-10 06:24] cgiffard commented on #270
@thecameronjones Gist it and link here, if that's ok. :)

[2016-04-10 06:25] cgiffard commented on #270
The important part is the lines emitted before the hang, too — so if after pasting that in you're still seeing a hang, it might be helpful just to grab 100 or so lines prior to it.

[2016-04-10 06:32] thecameronjones commented on #270
[This](https://gist.github.com/thecameronjones/747f34041590e5541ff83b87f10c3dc7) is the link, but first I have a couple things to note: First, I had to stop running the app early because I was concerned how much text was going to be outputted and how long it would take. Secondly, I found that the `depth` parameter went past `2`, which is the depth I specified in the setup. Finally, a lot of the li

[2016-04-10 06:58] thecameronjones commented on #270
It's going to take hours/days to finish because it's still on `depth: 3` and I don't know if that is the limit or if the setup didn't work.

[2016-04-10 22:52] cgiffard commented on #270
Ah, I just noticed a mistake in the code — it expects 'colors'. Pull off the `.green` and try again (my apologies for that!)

I don't understand why that would change the depth setting, but it does cause the 'undefined' at the start.

[2016-04-10 23:47] andrewex opened #271 "MaxPages to Crawl"
Is it possible to set the max pages to crawl?

[2016-04-11 00:09] thecameronjones commented on #270
Still, from the start, it logs `queueduplicate` that have a `depth` of `3`. For example, `queueduplicate { protocol: 'https',
  host: 'en.wikipedia.org',
  port: 80,
  path: '/wiki/California',
  uriPath: '/wiki/California',
  depth: 3 }` I'll let it run for a while this time and send you the gist _if_ it hangs or after 10 minutes or so. @cgiffard

[2016-04-11 00:09] cgiffard commented on #271
You can set a counter, and add a fetchCondition which returns false after the counter exceeds a certain value.

[code]

[2016-04-11 00:10] #271 closed

[2016-04-11 00:13] cgiffard commented on #270
`queueduplicate` means it's already queued that resource for downloading, presumably at a lower queue depth. So that doesn't necessarily mean the queue depth is being exceeded.

[2016-04-11 00:24] thecameronjones commented on #270
What confuses me is that those articles are sometimes _completely_ unrelated to SpaceX which was the original topic. Some of those `queue duplicate` are things that aren't linked inside that article and that aren't ever fetched. **New Information:** After running your logging software (which has definitely affected how the program runs in some large way) I have watched it finish queuing things and

[2016-04-11 00:35] cgiffard commented on #270
Well that is certainly unusual. I don't understand how that code would make the crawler fail to respect max-depth, but I'll look into it!

[2016-04-11 00:37] thecameronjones commented on #270
Thanks! It really is confusing me too... It might be helpful for you to clone the repo and see for yourself. @cgiffard

[2016-04-11 05:39] fredrikekelund commented on #270
I'm not sure why this would cause the maxDepth setting to not be respected, and we need to change this in the README, but you need to call `crawler.cleanExpandResources(resources, queueItem)` in the discoverResources method before returning the resources array. It could be that this is what's causing the problem!

[2016-04-11 06:00] cgiffard commented on #270
I wonder if that requirement is itself confusing. I'll look over the code tonight.

[2016-04-11 06:01] fredrikekelund commented on #270
Yeah, I think it probably is, and would be easy to move out of that method. Cool!

[2016-04-11 10:33] cgiffard commented on #270
As an aside to the issue experienced by @thecameronjones, my old colleague from my previous day job sent me an email to say:

So I think we must be good (apparently it the bug was reproducible every time.)